force-app/main/default/flows/Account_Team_Member_On_Created_Updated_Update_Quote_Sharing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Account Team Member - On Created/Updated - Update Quote Sharing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Team Member - On Created/Updated - Update Quote Sharing</label>
    <loops>
        <name>Opportunity</name>
        <label>For Each Opportunity</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Replicate_Sharing_to_Quotes</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunities</name>
        <label>Get Opportunities</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunities</targetReference>
        </connector>
        <object>AccountTeamMember</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Replicate_Sharing_to_Quotes</name>
        <label>Replicate Sharing to Quotes</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Opportunity</targetReference>
        </connector>
        <flowName>Replicate_Opportunity_Sharing_to_Quotes</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
