force-app/main/default/flows/Account_Plan_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>update to SWOT Completion Calculation Variable</description>
        <name>setSWOTCalcUpdatePlus1Opportunities</name>
        <label>setSWOTCalcUpdatePlus1Opportunities</label>
        <locationX>165</locationX>
        <locationY>1367</locationY>
        <assignmentItems>
            <assignToReference>numSWOTCalc</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>desIsThreatsPopulated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>update to SWOT Completion Calculation Variable</description>
        <name>setSWOTCalcUpdatePlus1Strength</name>
        <label>setSWOTCalcUpdatePlus1Strength</label>
        <locationX>165</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>numSWOTCalc</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>desIsWeaknessPopulated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>update to SWOT Completion Calculation Variable</description>
        <name>setSWOTCalcUpdatePlus1Threats</name>
        <label>setSWOTCalcUpdatePlus1Threats</label>
        <locationX>165</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>numSWOTCalc</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateSWOTCompletion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>update to SWOT Completion Calculation Variable</description>
        <name>setSWOTCalcUpdatePlus1Weakness</name>
        <label>setSWOTCalcUpdatePlus1Weakness</label>
        <locationX>165</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>numSWOTCalc</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decIsOppPopulated</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>checks that the global process deactivation is set to true</description>
        <name>decFlowsDisabled</name>
        <label>decFlowsDisabled</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>decIsSWOTUpdated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_FlowsDisabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Process_Deactivation__c.Disable_Processes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>checks if the &quot;Our Opportunities&quot; field is populated</description>
        <name>decIsOppPopulated</name>
        <label>decIsOppPopulated</label>
        <locationX>297</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>desIsThreatsPopulated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_OppsPopulated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Our_Opportunities__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setSWOTCalcUpdatePlus1Opportunities</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>checks if the &quot;Our Strengths&quot; field is populated</description>
        <name>decISStrengthPresent</name>
        <label>decISStrengthPresent</label>
        <locationX>297</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>desIsWeaknessPopulated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_StrenthsPopulated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Our_Strengths__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setSWOTCalcUpdatePlus1Strength</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>checks if the fields on the SWOT analysis fields have been updated.</description>
        <name>decIsSWOTUpdated</name>
        <label>decIsSWOTUpdated</label>
        <locationX>451</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_SWOTUpdated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Our_Strengths__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Our_Weaknesses__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Our_Opportunities__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Our_Threats__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decISStrengthPresent</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the &quot;Our Threats&quot; SWOT field is populated</description>
        <name>desIsThreatsPopulated</name>
        <label>desIsThreatsPopulated</label>
        <locationX>297</locationX>
        <locationY>1583</locationY>
        <defaultConnector>
            <targetReference>updateSWOTCompletion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ThreatsPopulated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Our_Threats__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setSWOTCalcUpdatePlus1Threats</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>checks if the &quot;Our Weaknesses&quot; is populated in SWOT</description>
        <name>desIsWeaknessPopulated</name>
        <label>desIsWeaknessPopulated</label>
        <locationX>297</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>decIsOppPopulated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_WeaknessPopulated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Our_Weaknesses__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setSWOTCalcUpdatePlus1Weakness</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>automation on account plans</description>
    <environments>Default</environments>
    <formulas>
        <description>checks if the record triggering the flow is new instead of updated</description>
        <name>formIsNew</name>
        <dataType>Boolean</dataType>
        <expression>isNew()</expression>
    </formulas>
    <interviewLabel>Account Plan After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Plan After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>updates the SWOT Completion value with the total of the variable calculated during the flow</description>
        <name>updateSWOTCompletion</name>
        <label>updateSWOTCompletion</label>
        <locationX>297</locationX>
        <locationY>1919</locationY>
        <inputAssignments>
            <field>SWOT_Completion__c</field>
            <value>
                <elementReference>numSWOTCalc</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>decFlowsDisabled</targetReference>
        </connector>
        <object>Account_Plan__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>variable to capture the number of SWOT fields created</description>
        <name>numSWOTCalc</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
