force-app/main/default/flows/Apply_Price_Adjustment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Quote_Line_Query</name>
        <label>Get Quote Lines</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <actionName>ActionSOQLQuery</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Result_Summary</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__sobjectRecords</typeName>
            <typeValue>SBQQ__QuoteLine__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>query</name>
            <value>
                <stringValue>SELECT Id, SBQQ__Quote__c, SBQQ__Quote__r.SBQQ__Account__c FROM SBQQ__QuoteLine__c WHERE      SBQQ__Quote__r.SBQQ__Type__c = &apos;Renewal&apos; AND      SBQQ__Quote__r.SBQQ__Status__c = &apos;Draft&apos; AND     SBQQ__Quote__r.SBQQ__StartDate__c &gt;= {!FromDateString} AND     SBQQ__Quote__r.SBQQ__StartDate__c &lt;= {!ToDateString} AND     SBQQ__Quote__r.SBQQ__Account__r.Legal_Entity__c = &apos;{!Legal_Entity.recordId}&apos; AND     Bypass_Renewal_Adjustment__c = False</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Apply_Adjustment_Value</name>
        <label>Apply Adjustment Value</label>
        <locationX>138</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Quote_Line.Renewal_Adjustment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Adjustment_Percent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Quote_Line</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Price_Adjustment_Result</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Price_Adjustment_Result</name>
        <label>Create Price Adjustment Result</label>
        <locationX>138</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>PriceAdjustmentResult.Price_Adjustment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriceAdjustmentResult.Quote_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quote_Line.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriceAdjustmentResult.Applied_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriceAdjustmentResult.Adjustment_Applied__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Adjustment_Percent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriceAdjustmentResults</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PriceAdjustmentResult</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quote_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Result_Summary</name>
        <label>Set Result Summary</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Quote_Line_Query.sobjectRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quote_Lines_Found</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Quote_Lines_Found</name>
        <label>Quote Lines Found</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>No_Results</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Quote_Lines_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteLineCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Results</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FromDateString</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!From_Date})) &amp; &quot;-&quot; &amp; LPAD(TEXT(MONTH({!From_Date})),2,&apos;0&apos;) &amp; &quot;-&quot; &amp; LPAD(TEXT(DAY({!From_Date})),2,&apos;0&apos;)</expression>
    </formulas>
    <formulas>
        <name>ToDateString</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!To_Date})) &amp; &quot;-&quot; &amp; LPAD(TEXT(MONTH({!To_Date})),2,&apos;0&apos;) &amp; &quot;-&quot; &amp; LPAD(TEXT(DAY({!To_Date})),2,&apos;0&apos;)</expression>
    </formulas>
    <interviewLabel>Apply Price Adjustment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Apply Price Adjustment</label>
    <loops>
        <name>Quote_Line</name>
        <label>For Each Quote Line</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <collectionReference>Quote_Line_Query.sobjectRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Apply_Adjustment_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Quote_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Price_Adjustment_Results</name>
        <label>Insert Price Adjustment Results</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <inputReference>PriceAdjustmentResults</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Price_Adjustment</name>
        <label>Get Price Adjustment</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirm_Criteria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Price_Adjustment__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote_Lines</name>
        <label>Update Quote Lines</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>Insert_Price_Adjustment_Results</targetReference>
        </connector>
        <inputReference>QuoteLines</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirm_Criteria</name>
        <label>Confirm Criteria</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Quote_Line_Query</targetReference>
        </connector>
        <fields>
            <name>From_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Price_Adjustment.From_Date__c</elementReference>
            </defaultValue>
            <fieldText>From</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>To_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Price_Adjustment.To_Date__c</elementReference>
            </defaultValue>
            <fieldText>To</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Legal_Entity</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Legal_Entity__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Legal Entity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Price_Adjustment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Price_Adjustment.Legal_Entity__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Adjustment_Percent</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Price_Adjustment.Adjustment_Percent__c</elementReference>
            </defaultValue>
            <fieldText>Adjustment (%)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>4</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_Results</name>
        <label>Confirm Results</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Quote_Line</targetReference>
        </connector>
        <fields>
            <name>Summary</name>
            <fieldText>&lt;p&gt;Criteria matched {!QuoteLineCount} records.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Confirm to apply {!Adjustment_Percent}% adjustment.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Results</name>
        <label>No Results</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_Results_Message</name>
            <fieldText>&lt;p&gt;No quote lines were found matching the given criteria.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Price_Adjustment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>PriceAdjustmentResult</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Price_Adjustment_Result__c</objectType>
    </variables>
    <variables>
        <name>PriceAdjustmentResults</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Price_Adjustment_Result__c</objectType>
    </variables>
    <variables>
        <name>QuoteLineCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>QuoteLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
