force-app/main/default/flows/Approval_Reminder_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Approval_Reminder</name>
        <label>Send Approval Reminder</label>
        <locationX>1018</locationX>
        <locationY>1088</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Days_Left_Text</name>
        <label>Days Left Text</label>
        <locationX>906</locationX>
        <locationY>392</locationY>
        <assignmentItems>
            <assignToReference>SLATimeLeft</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Group_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Days_Left_Text_0</name>
        <label>Days Left Text</label>
        <locationX>1121</locationX>
        <locationY>391</locationY>
        <assignmentItems>
            <assignToReference>SLATimeLeft</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Group_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Email_Recipients</name>
        <label>Email Recipients</label>
        <locationX>840</locationX>
        <locationY>923</locationY>
        <assignmentItems>
            <assignToReference>EmailRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Users_Loop.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Users_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Group_Member_Ids</name>
        <label>Group Members</label>
        <locationX>847</locationX>
        <locationY>637</locationY>
        <assignmentItems>
            <assignToReference>GroupMemberIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Group_Members_Loop.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Group_Members_Loop</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>EmailSubject</name>
        <dataType>String</dataType>
        <expression>&apos;Approval Reminder Request: &apos; + {!$Record.sbaa__Rule__r.FormattedName__c} + &apos; approval for quote &apos; + {!$Record.Quote__r.Name} + IF({!SLATimeLeft} = &apos;1&apos;, &apos; will be overdue in 1 day&apos;, &apos;is now overdue&apos;)</expression>
    </formulas>
    <formulas>
        <name>OverdueText</name>
        <dataType>String</dataType>
        <expression>IF({!SLATimeLeft} = &apos;1&apos;, &apos; will be overdue in 1 day&apos;, &apos;is now overdue&apos;)</expression>
    </formulas>
    <formulas>
        <name>QuoteLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_550}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_550})) &amp; {!$Record.Quote__r.Id}</expression>
    </formulas>
    <interviewLabel>Approval Reminder Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Approval Reminder Notification</label>
    <loops>
        <name>Group_Members_Loop</name>
        <label>Group Members</label>
        <locationX>1016</locationX>
        <locationY>637</locationY>
        <collectionReference>Get_Group_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Group_Member_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Group_Member_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Users_Loop</name>
        <label>Users</label>
        <locationX>1016</locationX>
        <locationY>923</locationY>
        <collectionReference>Get_Group_Member_Details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Email_Recipients</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Approval_Reminder</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Group_Member_Details</name>
        <label>Get Group Member Details</label>
        <locationX>1015</locationX>
        <locationY>789</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Users_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>GroupMemberIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Members</name>
        <label>Get Group Members</label>
        <locationX>1018</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Group_Members_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sbaa__Approver__r.sbaa__GroupId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>890</locationX>
        <locationY>48</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SLA_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>sbaa__Approval__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Hours_Before_SLA_Date_24</name>
            <connector>
                <targetReference>Days_Left_Text</targetReference>
            </connector>
            <label>24 Hrs before SLA date</label>
            <offsetNumber>-24</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>SLA_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>SLA_Date_Due</name>
            <connector>
                <targetReference>Days_Left_Text_0</targetReference>
            </connector>
            <label>SLA Date Due</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>SLA_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!$Record.sbaa__Rule__r.FormattedName__c} approval for quote {!$Record.Quote__r.Name} {!OverdueText}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Please provide your approval by navigating to:&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Link to quote&lt;/strong&gt;: {!QuoteLink}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodyRichText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;test&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>EmailRecipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GroupMemberIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SLATimeLeft</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
