force-app/main/default/flows/Asset_Processing_Complete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Renewal</name>
        <label>Create Renewal</label>
        <locationX>138</locationX>
        <locationY>1190</locationY>
        <actionName>AssetManagementActionModify</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>For_Each_Contract_Root_Asset_Id</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <elementReference>TransactionType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>assetId</name>
            <value>
                <elementReference>For_Each_Contract_Root_Asset_Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_Contracted_Flag</name>
        <label>Set Contracted Flag</label>
        <locationX>754</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Order_Item_Loop2.Contracted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Updated_Order_Items</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Order_Item_Loop2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Item_Loop2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Contract_Root_Asset_Id</name>
        <label>Store Contract Root Asset Id</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>contractRootAssetIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Order_Item_Loop.Asset__r.RootAsset.Aggregate_Asset__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Item_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contract_Root_Id_Already_Stored</name>
        <label>Contract Root Id Already Stored?</label>
        <locationX>226</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Store_Contract_Root_Asset_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Root_Id_Stored</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contractRootAssetIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Order_Item_Loop.Asset__r.RootAsset.Aggregate_Asset__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Item_Loop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contractable_Line</name>
        <label>Contractable Line?</label>
        <locationX>886</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Order_Item_Loop2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Contractable</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Order_Item_Loop2.SBQQ__ContractAction__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Renew</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Order_Item_Loop2.SBQQ__ChargeType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>One-Time</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contracted_Flag</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_Status</name>
        <label>Order Status</label>
        <locationX>490</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Item_Loop</targetReference>
            </connector>
            <label>Complete</label>
        </rules>
        <rules>
            <name>Activated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Item_Loop2</targetReference>
            </connector>
            <label>Activated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TransactionType</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS(TEXT({!Get_Order.Type}),&quot;Trial&quot;),&quot;Revocation&quot;,&quot;Renewal&quot;)</expression>
    </formulas>
    <interviewLabel>Asset Processing Complete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asset Processing Complete</label>
    <loops>
        <name>For_Each_Contract_Root_Asset_Id</name>
        <label>For Each Contract Root Asset Id</label>
        <locationX>50</locationX>
        <locationY>1070</locationY>
        <collectionReference>contractRootAssetIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Renewal</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Order_Item_Loop</name>
        <label>Order Item Loop</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <collectionReference>Order_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Contract_Root_Id_Already_Stored</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>For_Each_Contract_Root_Asset_Id</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Order_Item_Loop2</name>
        <label>Order Item Loop</label>
        <locationX>666</locationX>
        <locationY>518</locationY>
        <collectionReference>Order_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Contractable_Line</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Order_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>490</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Order_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Type</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Order_Lines</name>
        <label>Get Order Lines</label>
        <locationX>490</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Order_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order_Items</name>
        <label>Update Order Items</label>
        <locationX>666</locationX>
        <locationY>1070</locationY>
        <inputReference>Updated_Order_Items</inputReference>
    </recordUpdates>
    <start>
        <locationX>364</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>baseAssetIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contractRootAssetIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quoteIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>siteRootIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Updated_Order_Items</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
</Flow>
