force-app/main/default/flows/Asset_Processing_Completed_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Renewal</name>
        <label>Create Renewal</label>
        <locationX>138</locationX>
        <locationY>1226</locationY>
        <actionName>AssetManagementActionModify</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>For_Each_Contract_Root_Asset_Id</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <elementReference>TransactionType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>assetId</name>
            <value>
                <elementReference>For_Each_Contract_Root_Asset_Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Store_Contract_Root_Asset_Id</name>
        <label>Store Contract Root Asset Id</label>
        <locationX>314</locationX>
        <locationY>794</locationY>
        <assignmentItems>
            <assignToReference>contractRootAssetIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Order_Item_Loop.Asset__r.RootAsset.Aggregate_Asset__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Item_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contract_Root_Id_Already_Stored</name>
        <label>Contract Root Id Already Stored?</label>
        <locationX>226</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Store_Contract_Root_Asset_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Root_Id_Stored</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contractRootAssetIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Order_Item_Loop.Asset__r.RootAsset.Aggregate_Asset__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Item_Loop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_Status</name>
        <label>Order Status</label>
        <locationX>182</locationX>
        <locationY>314</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Lines</targetReference>
            </connector>
            <label>Complete</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TransactionType</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS(TEXT({!Get_Order.Type}),&quot;Trial&quot;),&quot;Revocation&quot;,&quot;Renewal&quot;)</expression>
    </formulas>
    <interviewLabel>Asset Processing Completed Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asset Processing Completed Event</label>
    <loops>
        <name>For_Each_Contract_Root_Asset_Id</name>
        <label>For Each Contract Root Asset Id</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <collectionReference>contractRootAssetIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Renewal</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Order_Item_Loop</name>
        <label>Order Item Loop</label>
        <locationX>50</locationX>
        <locationY>554</locationY>
        <collectionReference>Order_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Contract_Root_Id_Already_Stored</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>For_Each_Contract_Root_Asset_Id</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>182</locationX>
        <locationY>194</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Order_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Type</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Order_Lines</name>
        <label>Get Order Lines</label>
        <locationX>50</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Order_Item_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
        <object>AssetProcessingComplete__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>baseAssetIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contractRootAssetIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>siteRootIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
