force-app/main/default/flows/CompanyProfile_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <description>updates the credit limit on the account based on the formula agreed by finance</description>
        <name>setAccountCreditLimit</name>
        <label>setAccountCreditLimit</label>
        <locationX>737</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>getRelatedAccount.Credit_Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formCreditLimitCalc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateAccount</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>checks if the global process deactivation for flows is active to disable all flows</description>
        <name>desFlowsDisabled</name>
        <label>desFlowsDisabled</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>getRelatedAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_FlowsDeactivated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Process_Deactivation__c.Disable_Processes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>checks if the account is linked to the company profile record yet</description>
        <name>desIsAccountPopulated</name>
        <label>desIsAccountPopulated</label>
        <locationX>407</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>desIsCreditLimitOverrideTrue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_AccountNotPresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRelatedAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>checks if the credit override on the related account is set to true</description>
        <name>desIsCreditLimitOverrideTrue</name>
        <label>desIsCreditLimitOverrideTrue</label>
        <locationX>605</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>setAccountCreditLimit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CreditLimitOverride</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRelatedAccount.Credit_Limit_Override__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>automation on the company profile record on create or update triggered after the save</description>
    <environments>Default</environments>
    <formulas>
        <description>calculates the credit limit to apply to the account based on the recommended credit limit from the external finance checking system</description>
        <name>formCreditLimitCalc</name>
        <dataType>Currency</dataType>
        <expression>IF({!$Record.dbAsmt_CredLimRecom_maxRecomLim_value__c} &lt;= 10000, {!$Record.dbAsmt_CredLimRecom_maxRecomLim_value__c}, {!$Record.dbAsmt_CredLimRecom_maxRecomLim_value__c} * 0.8)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>CompanyProfile {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CompanyProfile After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getRelatedAccount</name>
        <label>getRelatedAccount</label>
        <locationX>407</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>desIsAccountPopulated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DNBConnect__D_B_Connect_Company_Profile__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>updates the account with the new credit limit value</description>
        <name>updateAccount</name>
        <label>updateAccount</label>
        <locationX>737</locationX>
        <locationY>935</locationY>
        <inputReference>getRelatedAccount</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>desFlowsDisabled</targetReference>
        </connector>
        <object>DNBConnect__D_B_Connect_Company_Profile__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
