force-app/main/default/flows/CPQ_Update_Approval_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_Approver_Is_Group</name>
        <label>Check Approver Is Group</label>
        <locationX>1008</locationX>
        <locationY>321</locationY>
        <defaultConnector>
            <targetReference>Update_Record_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>TRUE</defaultConnectorLabel>
        <rules>
            <name>FALSE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sbaa__Approver__r.sbaa__GroupId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approver_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_SLA_Defined</targetReference>
            </connector>
            <label>FALSE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_SLA_Defined</name>
        <label>Has SLA Defined?</label>
        <locationX>1010</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sbaa__Rule__r.SLA__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sbaa__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Approval_SLA_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Approval SLA date</description>
        <name>SLADate</name>
        <dataType>DateTime</dataType>
        <expression>NOW() + {!$Record.sbaa__Rule__r.SLA__c}/24</expression>
    </formulas>
    <interviewLabel>CPQ: Update Approval Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CPQ: Update Approval Record (Before Update)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Approval_SLA_Date</name>
        <label>Update Approval SLA Date</label>
        <locationX>1014</locationX>
        <locationY>678</locationY>
        <inputAssignments>
            <field>SLA_Date__c</field>
            <value>
                <elementReference>SLADate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the record owner to the assigned approver group queue.</description>
        <name>Update_Record_Owner</name>
        <label>Update Record Owner</label>
        <locationX>840</locationX>
        <locationY>321</locationY>
        <connector>
            <targetReference>Has_SLA_Defined</targetReference>
        </connector>
        <inputAssignments>
            <field>Approver_Name__c</field>
            <value>
                <elementReference>$Record.sbaa__Approver__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>890</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_Approver_Is_Group</targetReference>
        </connector>
        <object>sbaa__Approval__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ApproverMembers</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
