force-app/main/default/flows/CPQ_Dynamic_Bundle_Feature_Load.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <constants>
        <name>Add_Dependent_Products_Rule_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Add_Dependent_Products</stringValue>
        </value>
    </constants>
    <constants>
        <name>Feature_Min_Option_Count</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Feature_Number</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Hide_Dependent_Products_Rule_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Hide_Dependent_Products</stringValue>
        </value>
    </constants>
    <constants>
        <name>Prod_Name_Dynamic_Bundle</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Dynamic bundle</stringValue>
        </value>
    </constants>
    <constants>
        <name>Remove_Dependent_Items_Product_Rule_Id</name>
        <dataType>String</dataType>
        <value>
            <stringValue>a0p02000000M18bAAC</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Branch on bundle product option exists.</description>
        <name>Bundle_Product_Option_Exists</name>
        <label>Bundle product option exists?</label>
        <locationX>446</locationX>
        <locationY>1391</locationY>
        <defaultConnector>
            <targetReference>Create_Bundle_Product_Option</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>Bundle_Product_Option_Exists_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Bundle_Product_Option_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <description>Branch on feature existing.</description>
        <name>Feature_Exists</name>
        <label>Feature exists?</label>
        <locationX>248</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Has_Product_Dependency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>TRUE</defaultConnectorLabel>
        <rules>
            <name>Feature_Exists_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dynamic_Bundle_Feature_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Bundle_Item_Timestamp</targetReference>
            </connector>
            <label>FALSE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Product_Dependency</name>
        <label>Has_Product_Dependency</label>
        <locationX>248</locationX>
        <locationY>1151</locationY>
        <defaultConnector>
            <targetReference>Get_Bundle_Product_Option</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>Has_Product_Dependency_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MandatoryFor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Dependent_Product</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if item loaded is a bundle item.</description>
        <name>Is_Bundle_Item</name>
        <label>Is bundle item?</label>
        <locationX>545</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Update_Bundle_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>TRUE</defaultConnectorLabel>
        <rules>
            <name>Is_Bundle_Item_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentProduct__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MarketingCategory__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Bundle_Item_Fields</targetReference>
            </connector>
            <label>FALSE</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if processes have been disabled.</description>
        <name>Skip_Automation</name>
        <label>Skip Automation</label>
        <locationX>825</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>TRUE</defaultConnectorLabel>
        <rules>
            <name>Processes_Disabled_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Process_Deactivation__c.Disable_Processes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentProduct__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentProduct__r.SkipAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SkipAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Bundle_Item</targetReference>
            </connector>
            <label>FALSE</label>
        </rules>
    </decisions>
    <description>Handles the dynamic creation of bundle item features, product option creation, and assignment to newly created features.</description>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDate</name>
        <dataType>String</dataType>
        <expression>TEXT(NOW())</expression>
    </formulas>
    <formulas>
        <name>Dynamic_Bundle_Product_Rule_Name</name>
        <dataType>String</dataType>
        <expression>&quot;Dynamic - &quot; &amp; {!$Record.ParentProduct__r.Name} &amp; &quot; - &quot; &amp; Text({!$Record.MarketingCategory__c})</expression>
    </formulas>
    <formulas>
        <name>ExternalId</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.GearsetExternalId__c}), IF(ISBLANK({!$Record.ExternalId__c}), {!$Record.ProductCode} , {!$Record.ExternalId__c}), {!$Record.GearsetExternalId__c})</expression>
    </formulas>
    <formulas>
        <name>FeatureId</name>
        <dataType>String</dataType>
        <expression>{!$Record.ParentProduct__r.ExternalId__c} &amp; &quot;|&quot; &amp; TEXT({!$Record.MarketingCategory__c})</expression>
    </formulas>
    <formulas>
        <name>Linked_Product_Summary_Variable_Name</name>
        <dataType>String</dataType>
        <expression>&quot;Count of &quot; &amp; {!$Record.MandatoryFor__r.ProductCode} &amp; &quot; selected&quot;</expression>
    </formulas>
    <formulas>
        <name>Remove_Linked_Product_Rule_Name</name>
        <dataType>String</dataType>
        <expression>&quot;Remove dependent items for &quot; &amp; {!$Record.ProductCode}</expression>
    </formulas>
    <interviewLabel>CPQ Bundle Product Feature Load {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CPQ Bundle Product Feature Load</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create a bundle product option and assign to feature.</description>
        <name>Create_Bundle_Product_Option</name>
        <label>Create bundle product option</label>
        <locationX>578</locationX>
        <locationY>1511</locationY>
        <assignRecordIdToReference>Bundle_Product_Option_Id</assignRecordIdToReference>
        <inputAssignments>
            <field>IsDynamic__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ConfiguredSKU__c</field>
            <value>
                <elementReference>$Record.ParentProduct__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Feature__c</field>
            <value>
                <elementReference>Dynamic_Bundle_Feature_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Number__c</field>
            <value>
                <elementReference>Feature_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__OptionalSKU__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UpdatedDate__c</field>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__ProductOption__c</object>
    </recordCreates>
    <recordLookups>
        <description>Get matching bundle product option</description>
        <name>Get_Bundle_Product_Option</name>
        <label>Get bundle product option</label>
        <locationX>446</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bundle_Product_Option_Exists</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (3 AND 4)</filterLogic>
        <filters>
            <field>SBQQ__ConfiguredSKU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentProduct__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__OptionalSKU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ConfiguredSKU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MandatoryFor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__OptionalSKU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>SBQQ__ProductOption__c</object>
        <outputAssignments>
            <assignToReference>Bundle_Product_Option_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Check if product feature exists.</description>
        <name>Get_Product_Feature</name>
        <label>Get product feature</label>
        <locationX>248</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Feature_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__ConfiguredSKU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentProduct__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MarketingCategory__c</elementReference>
            </value>
        </filters>
        <object>SBQQ__ProductFeature__c</object>
        <outputAssignments>
            <assignToReference>Dynamic_Bundle_Feature_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Clear_Bundle_Item_Timestamp</name>
        <label>Clear Bundle Item Timestamp</label>
        <locationX>116</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Has_Product_Dependency</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentProduct__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>UpdatedDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>UpdatedDate__c</field>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Bundle_Item_Fields</name>
        <label>Update Bundle Item Fields</label>
        <locationX>248</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Get_Product_Feature</targetReference>
        </connector>
        <inputAssignments>
            <field>ExternalId__c</field>
            <value>
                <elementReference>ExternalId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GearsetExternalId__c</field>
            <value>
                <elementReference>ExternalId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Component__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Bundle_Record</name>
        <label>Update Bundle Record</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>GearsetExternalId__c</field>
            <value>
                <elementReference>ExternalId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ConfigurationEvent__c</field>
            <value>
                <stringValue>Always</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ConfigurationType__c</field>
            <value>
                <stringValue>Required</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Dependent_Product</name>
        <label>Update Dependent Product</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <inputAssignments>
            <field>SBQQ__ConfigurationType__c</field>
            <value>
                <stringValue>Disabled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UpdatedDate__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>699</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Automation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SkipAutomation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Product2</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Add_Dependent_Items_Config_Rule_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Add_Dependent_Products_Rule_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the matched bundle product option id</description>
        <name>Bundle_Product_Option_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Dynamic_Bundle_Feature_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Dynamic_Bundle_Product_Rule_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores resulting feature name from match.</description>
        <name>Feature_Name_Match_Result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Hide_Dependent_Items_Config_Rule_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Hide_Dependent_Products_Rule_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Hide_Product_Action_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Linked_Product_Summary_Variable_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Product_Option_Quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Product_Option_Required</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Product_Option_Selected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>productOptionConfiguredSku</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Remove_Dependent_Items_Config_Rule_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Remove_Linked_Product_Rule_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Testcollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
