force-app/main/default/flows/CPQ_Update_quote_status_from_approval_status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_approved_status</name>
        <label>Assign approved status</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>StatusUpdateVal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StatusApproved</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordTypeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StatusApproved</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormattedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormattedApprovedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Finalized_Template_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Closed_Status</name>
        <label>Assign Closed Status</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StatusUpdateVal</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_record_type_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_draft_status</name>
        <label>Assign draft status</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>StatusUpdateVal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StatusDraft</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordTypeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StatusDraft</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovedDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_Draft_Template_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_pending_status</name>
        <label>Assign pending status</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>StatusUpdateVal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StatusPending</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordTypeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StatusPending</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_record_type_Id</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>StatusApproved</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Approved</stringValue>
        </value>
    </constants>
    <constants>
        <name>StatusClosed</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed</stringValue>
        </value>
    </constants>
    <constants>
        <name>StatusDraft</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Draft</stringValue>
        </value>
    </constants>
    <constants>
        <name>StatusPending</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending Approval</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Approval_Status</name>
        <label>Approval Status</label>
        <locationX>578</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Status_Pending</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_pending_status</targetReference>
            </connector>
            <label>Pending</label>
        </rules>
        <rules>
            <name>Status_Recalled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recalled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_draft_status</targetReference>
            </connector>
            <label>Recalled</label>
        </rules>
        <rules>
            <name>Status_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Closed_Status</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
        <rules>
            <name>Status_Approved</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>StatusApproved</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_approved_status</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Approved</label>
        </rules>
    </decisions>
    <description>Add change to closed record type on closed status.</description>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDateTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>FormattedApprovedDate</name>
        <dataType>String</dataType>
        <expression>TEXT(DAY(TODAY())) &amp; &quot; &quot; &amp; 
CASE(MONTH(TODAY()),1, &quot;January&quot;,
2, &quot;February&quot;,
3, &quot;March&quot;,
4, &quot;April&quot;,
5, &quot;May&quot;,
6, &quot;June&quot;,
7, &quot;July&quot;,
8, &quot;August&quot;,
9, &quot;September&quot;,
10, &quot;October&quot;,
11, &quot;November&quot;,
12, &quot;December&quot;,
&quot;&quot;) &amp; &quot; &quot; &amp; 
TEXT(YEAR(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>RecordHyperlink</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Enterprise_Server_URL_510, FIND( &apos;/services&apos;, $Api.Enterprise_Server_URL_510)) &amp; {!$Record.Id}</expression>
    </formulas>
    <interviewLabel>CPQ: Update quote status from approval status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CPQ: Update quote status from approval status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Draft_Template_Id</name>
        <label>Get Draft Template Id</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_record_type_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>dfsle__SourceObject__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SBQQ__Quote__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CPQ Contract Document - In Process</stringValue>
            </value>
        </filters>
        <object>dfsle__GenTemplate__c</object>
        <outputAssignments>
            <assignToReference>ContractTemplateId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Finalized_Template_Id</name>
        <label>Get Finalized Template Id</label>
        <locationX>842</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_record_type_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>dfsle__SourceObject__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SBQQ__Quote__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CPQ Contract Document - Finalized</stringValue>
            </value>
        </filters>
        <object>dfsle__GenTemplate__c</object>
        <outputAssignments>
            <assignToReference>ContractTemplateId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_record_type_Id</name>
        <label>Get record type Id</label>
        <locationX>578</locationX>
        <locationY>767</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeName</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_quote</name>
        <label>Update quote</label>
        <locationX>578</locationX>
        <locationY>887</locationY>
        <inputAssignments>
            <field>ApprovedDate__c</field>
            <value>
                <elementReference>ApprovedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Formatted_Approved_Date__c</field>
            <value>
                <elementReference>FormattedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Status__c</field>
            <value>
                <elementReference>StatusUpdateVal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Template_Id__c</field>
            <value>
                <elementReference>ContractTemplateId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Approval_Status</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ApprovalStatus__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TechnicalAccountingEmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Custom T&amp;Cs have been approved for {!$Record.Name}.  You can review attached documentation by navigating to {!RecordHyperlink}</text>
    </textTemplates>
    <textTemplates>
        <name>TechnicalAccountingEmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Custom T&amp;Cs approved for {!$Record.Name}</text>
    </textTemplates>
    <variables>
        <name>ApprovedDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContractTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FormattedDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StatusUpdateVal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.SBQQ__Status__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>UpdatedApprovals</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>sbaa__Approval__c</objectType>
    </variables>
</Flow>
