force-app/main/default/flows/CPQ_Modify_Asset.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Get_Transaction_Types</name>
        <label>Get Transaction Types</label>
        <locationX>589</locationX>
        <locationY>1406</locationY>
        <actionName>AssetManagementActionGetTransactionTypes</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Modify_Asset</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Modify_Asset_Action</name>
        <label>Modify Asset</label>
        <locationX>1128</locationX>
        <locationY>2654</locationY>
        <actionName>AssetManagementActionModify</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Open_URL</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>assetAccountIds</name>
            <value>
                <elementReference>Selected_Account_Ids</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>autoClose</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <elementReference>TransactionType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestDate</name>
            <value>
                <elementReference>TransactionDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>assetId</name>
            <value>
                <elementReference>Get_Asset.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>Input_Selected_Opportunity_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quoteId</name>
            <value>
                <elementReference>Input_Selected_Quote_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>oppSubType</name>
            <value>
                <elementReference>Opportunity_Sub_Type</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Open_URL</name>
        <label>Open URL</label>
        <locationX>1128</locationX>
        <locationY>2774</locationY>
        <actionName>c:openURL</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>QLE_URL</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Account</name>
        <label>Add Account</label>
        <locationX>1073</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Site_Accounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Site_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Account_Id</name>
        <label>Add Account Id</label>
        <locationX>314</locationX>
        <locationY>2126</locationY>
        <assignmentItems>
            <assignToReference>Selected_Account_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>nextRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordIdStart</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>19.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Next_Site_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Opportunity</name>
        <label>Clear Opportunity</label>
        <locationX>1370</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>Input_Selected_Opportunity_Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Modify_Asset_Action</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Quote_Id</name>
        <label>Clear Quote Id</label>
        <locationX>1238</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>Input_Selected_Quote_Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity</name>
        <label>Set Opportunity</label>
        <locationX>1106</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>Input_Selected_Opportunity_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Opportunity_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Modify_Asset_Action</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Quote_Id</name>
        <label>Set Quote Id</label>
        <locationX>842</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>Input_Selected_Quote_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Quote_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Modify_Asset_Action</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Selected_Site_Ids</name>
        <label>Set Selected Site Ids</label>
        <locationX>446</locationX>
        <locationY>1886</locationY>
        <assignmentItems>
            <assignToReference>Selected_Site_Ids</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Sites</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Next_Site_Exists</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Add_to_existing_Quote</name>
        <choiceText>Add to existing Quote</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add to existing Quote</stringValue>
        </value>
    </choices>
    <choices>
        <name>Amendment</name>
        <choiceText>Amendment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Amendment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Create_new_Opportunity_Quote</name>
        <choiceText>Create new Opportunity &amp; Quote</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create new Opportunity &amp; Quote</stringValue>
        </value>
    </choices>
    <choices>
        <name>Create_new_Quote_on_existing_Opportunity</name>
        <choiceText>Create new Quote on existing Opportunity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create new Quote on existing Opportunity</stringValue>
        </value>
    </choices>
    <choices>
        <name>Re_Contract</name>
        <choiceText>Re-Contract</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Recontract</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Account_Added</name>
        <label>Account Added?</label>
        <locationX>985</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Add_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Site_Accounts</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Get_Account</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_Each_Site_Asset</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Item_Asset</name>
        <label>Is Item Asset</label>
        <locationX>187</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Is_Site_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Item_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Asset.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Site_Asset</name>
        <label>Is Site Asset</label>
        <locationX>589</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Get_Site_Assets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Site_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Asset.Aggregate_Asset__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Transaction_Types</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Next_Site_Exists</name>
        <label>Next Site Exists?</label>
        <locationX>446</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Quote_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nextRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Account_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Selected</name>
        <label>Opportunity Selected?</label>
        <locationX>1238</locationX>
        <locationY>2126</locationY>
        <defaultConnector>
            <targetReference>Clear_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Opp_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Modify_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_new_Quote_on_existing_Opportunity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_Selected</name>
        <label>Quote Selected?</label>
        <locationX>1040</locationX>
        <locationY>1886</locationY>
        <defaultConnector>
            <targetReference>Clear_Quote_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Modify_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Add_to_existing_Quote</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Quote_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selections_Invalid</name>
        <label>Selections Invalid?</label>
        <locationX>589</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>Transaction_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid</defaultConnectorLabel>
        <rules>
            <name>Invalid_Opp_Sub_Type_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Modify_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_new_Opportunity_Quote</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OppSubType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invalid_Opp_Sub_Type_Message</targetReference>
            </connector>
            <label>Invalid - Opp Sub Type Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transaction_Type</name>
        <label>Transaction Type</label>
        <locationX>1128</locationX>
        <locationY>1766</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Type_Amendment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TransactionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Amendment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Selected_Site_Ids</targetReference>
            </connector>
            <label>Amendment</label>
        </rules>
        <rules>
            <name>Type_Recontract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TransactionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Re_Contract</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quote_Selected</targetReference>
            </connector>
            <label>Re-Contract</label>
        </rules>
        <rules>
            <name>Type_Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TransactionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Modify_Asset_Action</targetReference>
            </connector>
            <label>Renewal</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>OppSubType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sub_Type__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Sites</name>
        <collectionReference>Site_Accounts</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TransactionTypes</name>
        <collectionReference>Get_Transaction_Types.types</collectionReference>
        <dataType>String</dataType>
        <displayField>label</displayField>
        <object xsi:nil="true"/>
        <valueField>value</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>faultText</name>
        <dataType>String</dataType>
        <expression>RIGHT({!$Flow.FaultMessage},LEN({!$Flow.FaultMessage}) - FIND(&quot;:&quot;,{!$Flow.FaultMessage}, FIND(&quot;:&quot;,{!$Flow.FaultMessage}) + 1))</expression>
    </formulas>
    <formulas>
        <name>LifecycleEndDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Get_Asset.LifecycleEndDate})</expression>
    </formulas>
    <formulas>
        <name>LifecycleStartDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Get_Asset.LifecycleStartDate})</expression>
    </formulas>
    <formulas>
        <name>nextRecordId</name>
        <dataType>String</dataType>
        <expression>MID({!Selected_Site_Ids},{!recordIdStart},18)</expression>
    </formulas>
    <formulas>
        <name>Opportunity_Required</name>
        <dataType>Boolean</dataType>
        <expression>{!Modify_Type}={!Create_new_Quote_on_existing_Opportunity}</expression>
    </formulas>
    <formulas>
        <name>QLE_URL</name>
        <dataType>String</dataType>
        <expression>&apos;/apex/sbqq__sb?scontrolCaching=1&amp;id=&apos;+ {!Modify_Asset_Action.quoteId}</expression>
    </formulas>
    <formulas>
        <name>Quote_Required</name>
        <dataType>Boolean</dataType>
        <expression>{!Modify_Type}={!Add_to_existing_Quote}</expression>
    </formulas>
    <interviewLabel>CPQ: Modify Asset {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CPQ: Modify Asset</label>
    <loops>
        <name>For_Each_Site_Asset</name>
        <label>For Each Site Asset</label>
        <locationX>809</locationX>
        <locationY>638</locationY>
        <collectionReference>Get_Site_Assets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Account</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Transaction_Types</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>985</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Added</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>For_Each_Site_Asset.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Asset</name>
        <label>Get Asset</label>
        <locationX>187</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Item_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ParentId</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Aggregate_Asset__c</queriedFields>
        <queriedFields>LifecycleStartDate</queriedFields>
        <queriedFields>LifecycleEndDate</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Site_Assets</name>
        <label>Get Site Assets</label>
        <locationX>809</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Site_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Aggregate_Asset__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Asset.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>2074</locationX>
        <locationY>2774</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Try Again</backButtonLabel>
        <fields>
            <name>Fault_Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(234, 6, 6);&quot;&gt;{!faultText}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invalid_Opp_Sub_Type_Message</name>
        <label>Invalid Opp Sub Type Message</label>
        <locationX>50</locationX>
        <locationY>1766</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;Please select a value for Opportunity Sub-type when creating a new opportunity.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Modify_Asset</name>
        <label>Modify Asset</label>
        <locationX>589</locationX>
        <locationY>1526</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Selections_Invalid</targetReference>
        </connector>
        <fields>
            <name>TransactionType</name>
            <choiceReferences>TransactionTypes</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Amendment</elementReference>
            </defaultValue>
            <fieldText>Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Modify_Type</name>
            <choiceReferences>Create_new_Opportunity_Quote</choiceReferences>
            <choiceReferences>Create_new_Quote_on_existing_Opportunity</choiceReferences>
            <choiceReferences>Add_to_existing_Quote</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Create_new_Opportunity_Quote</defaultSelectedChoiceReference>
            <fieldText>Select...</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>TransactionType</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Renewal</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>QL_Select_Opportunity</name>
            <extensionName>c:quickLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cmpid</name>
                <value>
                    <stringValue>QL_Select_Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>Get_Asset.AccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <elementReference>Opportunity_Required</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_Opportunity_Id</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Modify_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Create_new_Quote_on_existing_Opportunity</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>TransactionType</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Renewal</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>QL_Select_Quote</name>
            <extensionName>c:quickLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>SBQQ__Quote__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cmpid</name>
                <value>
                    <stringValue>QL_Select_Quote</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Quote</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>SBQQ__Account__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>Get_Asset.AccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <elementReference>Quote_Required</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_Quote_Id</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Modify_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Add_to_existing_Quote</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>TransactionType</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Renewal</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Opportunity_Sub_Type</name>
            <choiceReferences>OppSubType</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Upsell</stringValue>
            </defaultValue>
            <fieldText>Opportunity Sub-Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Modify_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Create_new_Opportunity_Quote</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>All_Sites_Toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Include all sites?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Choose sites</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>All_Sites</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Asset.Aggregate_Asset__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>TransactionType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Amendment</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_Sites</name>
            <choiceReferences>Sites</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sites</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Asset.Aggregate_Asset__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>All_Sites_Toggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>TransactionType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Amendment</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TransactionDate</name>
            <dataType>Date</dataType>
            <fieldText>Effective Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Please select a date between &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!LifecycleStartDate}&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; and &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!LifecycleEndDate}&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>AND({!TransactionType} != &quot;Renewal&quot;,{!TransactionDate} &gt;= {!LifecycleStartDate},{!TransactionDate} &lt;= {!LifecycleEndDate})</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>TransactionType</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Renewal</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>61</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Asset</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>All_Sites</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Existing_Opportunity</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Existing_Opportunity_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Existing_Quote</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Existing_Quote_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Input_Selected_Opportunity_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Input_Selected_Quote_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordIdStart</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Selected_Account_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Opportunity_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Quote_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Site_Ids</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Site_Accounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
