force-app/main/default/flows/CPQ_Bundle_Feature_Creation_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Marketing_Categories</name>
        <label>Get Marketing Categories</label>
        <locationX>374</locationX>
        <locationY>408</locationY>
        <actionName>ActionSOQLQuery</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>For_Each_Marketing_Category</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__sobjectRecords</typeName>
            <typeValue>AggregateResult</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>resultKey</name>
            <value>
                <stringValue>result</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>query</name>
            <value>
                <stringValue>SELECT SBQQ__OptionalSKU__r.MarketingCategory__c result FROM SBQQ__ProductOption__c WHERE SBQQ__ConfiguredSKU__c = &apos;{!$Record.Id}&apos; GROUP BY SBQQ__OptionalSKU__r.MarketingCategory__c</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Existing_Feature_Ids</name>
        <label>Add Existing Feature Ids</label>
        <locationX>462</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>curr_marketCat</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Marketing_Category</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Bundle_Feature_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>form_featureId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Marketing_Category</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Feature_for_Creation</name>
        <label>Add Feature for Creation</label>
        <locationX>638</locationX>
        <locationY>1800</locationY>
        <assignmentItems>
            <assignToReference>newFeatures</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newFeature</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Prod_Opt_Feature_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Create new SBQQ__ProductFeature__c</description>
        <name>New_Feature</name>
        <label>New Feature</label>
        <locationX>638</locationX>
        <locationY>1680</locationY>
        <assignmentItems>
            <assignToReference>newFeature.FeatureId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Prod_Opt_Feature_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newFeature.SBQQ__ConfiguredSKU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newFeature.SBQQ__MinOptionCount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newFeature.SBQQ__Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newFeature.SBQQ__OptionSelectionMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Click</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newFeature.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_marketCat</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newFeature.IsDynamic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newFeature.GearsetExternalId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Prod_Opt_Feature_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Feature_for_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Current_Feature_Id</name>
        <label>Set Current Feature Id</label>
        <locationX>462</locationX>
        <locationY>2352</locationY>
        <assignmentItems>
            <assignToReference>curr_featureId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_New_Feature.FeatureId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_New_Feature_Options</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Current_Feature_Id_0</name>
        <label>Set Current Feature Id</label>
        <locationX>638</locationX>
        <locationY>1560</locationY>
        <assignmentItems>
            <assignToReference>curr_featureId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Prod_Opt_Feature_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Feature</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Existing_Feature_Id</name>
        <label>Store Existing Feature Id</label>
        <locationX>462</locationX>
        <locationY>1104</locationY>
        <assignmentItems>
            <assignToReference>Existing_Feature_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Existing_Feature.GearsetExternalId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Existing_Feature</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Exists</name>
        <label>Exists?</label>
        <locationX>550</locationX>
        <locationY>1440</locationY>
        <defaultConnector>
            <targetReference>Set_Current_Feature_Id_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_Feature_Ids</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>For_Each_Prod_Opt_Feature_Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_Each_Prod_Opt_Feature_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Processes_Disabled</name>
        <label>Processes Disabled?</label>
        <locationX>506</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>TRUE</defaultConnectorLabel>
        <rules>
            <name>Processes_Disabled_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Process_Deactivation__c.Disable_Processes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SkipAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Marketing_Categories</targetReference>
            </connector>
            <label>FALSE</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Bundle_UpdatedDate</name>
        <dataType>String</dataType>
        <expression>TEXT(NOW())</expression>
    </formulas>
    <formulas>
        <name>form_featureId</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name}+&quot;|&quot;+{!curr_marketCat}</expression>
    </formulas>
    <formulas>
        <name>form_marketCat</name>
        <dataType>String</dataType>
        <expression>RIGHT({!curr_featureId},LEN({!curr_featureId}) - FIND(&quot;|&quot;, {!curr_featureId}))</expression>
    </formulas>
    <interviewLabel>CPQ Bundle Feature Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CPQ: Bundle Feature Creation</label>
    <loops>
        <name>For_Each_Existing_Feature</name>
        <label>For Each Existing Feature</label>
        <locationX>374</locationX>
        <locationY>984</locationY>
        <collectionReference>Get_Existing_Features</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_Existing_Feature_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>For_Each_Prod_Opt_Feature_Id</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_Each_Marketing_Category</name>
        <label>For Each Marketing Category</label>
        <locationX>374</locationX>
        <locationY>528</locationY>
        <collectionReference>Get_Marketing_Categories.records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Existing_Feature_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Existing_Features</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_Each_New_Feature</name>
        <label>For Each New Feature</label>
        <locationX>374</locationX>
        <locationY>2232</locationY>
        <collectionReference>newFeatures</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Current_Feature_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Bundle_Item_Updated_Date</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_Each_Prod_Opt_Feature_Id</name>
        <label>For Each Prod Opt Feature Id</label>
        <locationX>374</locationX>
        <locationY>1320</locationY>
        <collectionReference>Bundle_Feature_Ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Exists</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_Features</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Features</name>
        <label>Create New Features</label>
        <locationX>374</locationX>
        <locationY>2112</locationY>
        <connector>
            <targetReference>For_Each_New_Feature</targetReference>
        </connector>
        <inputReference>newFeatures</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Features</name>
        <label>Get Existing Features</label>
        <locationX>374</locationX>
        <locationY>864</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Existing_Feature</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__ConfiguredSKU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__ProductFeature__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Bundle_Item_Updated_Date</name>
        <label>Update Bundle Item Updated Date</label>
        <locationX>374</locationX>
        <locationY>2688</locationY>
        <inputAssignments>
            <field>UpdatedDate__c</field>
            <value>
                <elementReference>Bundle_UpdatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_New_Feature_Options</name>
        <label>Update Options</label>
        <locationX>462</locationX>
        <locationY>2472</locationY>
        <connector>
            <targetReference>For_Each_New_Feature</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__ConfiguredSKU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MarketingCategory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>form_marketCat</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__Feature__c</field>
            <value>
                <elementReference>For_Each_New_Feature.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__ProductOption__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentProduct__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MarketingCategory__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UpdatedDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Product2</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Create_Bundle_Features</name>
            <connector>
                <targetReference>Processes_Disabled</targetReference>
            </connector>
            <label>Create Bundle Features</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Bundle_Feature_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Bundle_Feature_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Bundle_Features</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__ProductFeature__c</objectType>
    </variables>
    <variables>
        <name>curr_featureId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>curr_marketCat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Feature_Options</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__ProductOption__c</objectType>
    </variables>
    <variables>
        <name>Existing_Feature_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newFeature</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__ProductFeature__c</objectType>
    </variables>
    <variables>
        <name>newFeatures</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__ProductFeature__c</objectType>
    </variables>
    <variables>
        <name>test</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__ProductOption__c</objectType>
    </variables>
    <variables>
        <name>updatedOptions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__ProductOption__c</objectType>
    </variables>
</Flow>
