force-app/main/default/flows/Create_Price_Adjustment_Transactions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Batch_Update_Lines</name>
        <label>Batch Update Lines</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <actionName>ActionBatchUpdate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>Price_Adjustment_Line__c</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <targetReference>Error_Creating_Transactions</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>batchSize</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>UpdatedLines</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Set_Updated_Count</name>
        <label>Set Updated Count</label>
        <locationX>314</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>updateCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>UpdatedLines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lines_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Line_Status</name>
        <label>Update Line Status</label>
        <locationX>402</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Price_Adjustment_Line.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Price_Adjustment_Line</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Price_Adjustment_Line</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Valid</name>
        <label>Price Adjustment Line Valid?</label>
        <locationX>534</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Price_Adjustment_Line</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Date_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Price_Adjustment_Line.Asset__r.LifecycleStartDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Price_Adjustment.Adjustment_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Price_Adjustment_Line.Asset__r.LifecycleEndDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Price_Adjustment.Adjustment_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Price_Adjustment_Line.Asset__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Price_Adjustment_Line.Asset__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Obsolete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Line_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lines_to_Update</name>
        <label>Lines to Update?</label>
        <locationX>314</locationX>
        <locationY>1070</locationY>
        <defaultConnector>
            <targetReference>No_Lines_Remaining</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Lines_to_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>updateCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Batch_Update_Lines</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Price Adjustment Transactions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Price Adjustment Transactions</label>
    <loops>
        <name>Price_Adjustment_Line</name>
        <label>For Each Price Adjustment Line</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <collectionReference>Price_Adjustment_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Valid</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Updated_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Price_Adjustment</name>
        <label>Get Price Adjustment</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Price_Adjustment_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Price_Adjustment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Price_Adjustment_Lines</name>
        <label>Get Price Adjustment Lines</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Price_Adjustment_Line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Price_Adjustment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Price_Adjustment_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Creating_Transactions</name>
        <label>Error Creating Transactions</label>
        <locationX>314</locationX>
        <locationY>1310</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Lines_Remaining</name>
        <label>No_Lines_Remaining</label>
        <locationX>578</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Records_Message</name>
            <fieldText>&lt;p&gt;All lines have either been successfully processed or are no longer valid. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>50</locationX>
        <locationY>1310</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Success&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!updateCount} lines staged for transaction creation.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Price_Adjustment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updateCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UpdatedLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Price_Adjustment_Line__c</objectType>
    </variables>
</Flow>
