force-app/main/default/flows/Generate_Price_Adjustment_Lines.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Root_Assets</name>
        <label>Get Root Assets</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <actionName>ActionSOQLQuery</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Asset</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__sobjectRecords</typeName>
            <typeValue>Asset</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>sobjectType</name>
            <value>
                <stringValue>Asset</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>query</name>
            <value>
                <elementReference>AssetQuery</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Price_Adjustment_Notice</name>
        <label>Add Price Adjustment Notice</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>PriceAdjustmentNotice.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asset.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriceAdjustmentNotice.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Asset.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriceAdjustmentNotice.Price_Adjustment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriceAdjustmentNotices</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PriceAdjustmentNotice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Price_Adjustment_Line</name>
        <label>Create Price Adjustment Line</label>
        <locationX>358</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>PriceAdjustmentLine.Price_Adjustment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriceAdjustmentLine.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asset.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriceAdjustmentLine.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriceAdjustmentLine.Adjustment_Applied__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Adjustment_Percent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriceAdjustmentLine.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asset.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriceAdjustmentLines_staged</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PriceAdjustmentLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Id_Added</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Adjustment_Percent</name>
        <label>Set Adjustment Percent</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Price_Adjustment.Adjustment_Percent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Adjustment_Percent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Root_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Price_Adjustment_Notice</name>
        <label>Set Price Adjustment Notice</label>
        <locationX>314</locationX>
        <locationY>2150</locationY>
        <assignmentItems>
            <assignToReference>Account_Price_Adjustment_Line.Price_Adjustment_Notice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Price_Adjustment_Notice.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriceAdjustmentLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Account_Price_Adjustment_Line</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Price_Adjustment_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Result_Summary</name>
        <label>Set Result Summary</label>
        <locationX>182</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>RootAssetCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Root_Assets.sobjectRecords</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>AccountIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assets_Found</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Account_Price_Adjustment_Lines</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Matching Price Adjustment Lines</label>
        <locationX>226</locationX>
        <locationY>1910</locationY>
        <assignNextValueToReference>currentItem_Account_Price_Adjustment_Lines</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>PriceAdjustmentLines_staged</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Account_Price_Adjustment_Lines.Account__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Price_Adjustment_Notice.Account__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Account_Price_Adjustment_Line</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Account_Id_Added</name>
        <label>Account Id Added?</label>
        <locationX>358</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Add_Price_Adjustment_Notice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Account_Id_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Asset.AccountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asset</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assets_Found</name>
        <label>Assets Found</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>No_Results</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Assets_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RootAssetCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Results</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AssetQuery</name>
        <dataType>String</dataType>
        <expression>&quot;SELECT Asset.RootAssetId Id, Asset.RootAsset.AccountId AccountId &quot; &amp;
&quot;FROM AssetStatePeriod &quot; &amp;
&quot;WHERE &quot; &amp;
&quot;    Asset.Aggregate_Asset__c = null AND &quot; &amp;
&quot;    Asset.Account.Legal_Entity__c = &apos;&quot; &amp; {!Price_Adjustment.Legal_Entity__c} &amp; &quot;&apos; AND &quot; &amp;
&quot;    StartDate &lt;= &quot; &amp; TEXT({!Price_Adjustment.Adjustment_Date__c}) &amp; &quot;T00:00:00Z AND &quot; &amp;
&quot;    EndDate &gt;= &quot; &amp; TEXT({!Price_Adjustment.Adjustment_Date__c}) &amp; &quot;T00:00:00Z AND &quot; &amp;
&quot;    Quantity &gt; 0 AND &quot; &amp;
&quot;    Asset.Bypass_Price_Adjustment__c = false &quot; &amp;
IF(NOT(ISBLANK({!Price_Adjustment.From_Date__c})), &quot;    AND Asset.RootAsset.Go_Live_Date__c &gt;= &quot; &amp; TEXT({!Price_Adjustment.From_Date__c}) &amp; &quot; &quot;, &quot;&quot;) &amp;
IF(NOT(ISBLANK({!Price_Adjustment.To_Date__c})), &quot;    AND Asset.RootAsset.Go_Live_Date__c &lt;= &quot; &amp; TEXT({!Price_Adjustment.To_Date__c}) &amp; &quot; &quot;, &quot;&quot;) &amp;
IF(NOT(ISBLANK({!Price_Adjustment.Finance_Code__c})), &quot;    AND Asset.Product2.Finance_Code__c = &apos;&quot; &amp; {!Price_Adjustment.Finance_Code__c} &amp; &quot;&apos; &quot;, &quot;&quot;) &amp;
IF(NOT(ISPICKVAL({!Price_Adjustment.Go_Live_Month__c},&quot;&quot;)), &quot;    AND CALENDAR_MONTH(Asset.Go_Live_Date__c) = &quot; &amp; TEXT({!Price_Adjustment.Go_Live_Month__c}) &amp; &quot; &quot;, &quot;&quot;) &amp;
&quot;AND AssetId NOT IN (SELECT Asset__c FROM Price_Adjustment_Line__c WHERE Price_Adjustment__c = &apos;&quot; &amp; {!recordId} &amp; &quot;&apos;) &quot; &amp;
&quot;GROUP BY Asset.RootAssetId, Asset.RootAsset.AccountId&quot;</expression>
    </formulas>
    <formulas>
        <name>FromDateString</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!Price_Adjustment.From_Date__c})) &amp; &quot;-&quot; &amp; LPAD(TEXT(MONTH({!Price_Adjustment.From_Date__c})),2,&apos;0&apos;) &amp; &quot;-&quot; &amp; LPAD(TEXT(DAY({!Price_Adjustment.From_Date__c})),2,&apos;0&apos;)</expression>
    </formulas>
    <formulas>
        <name>ToDateString</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!Price_Adjustment.To_Date__c})) &amp; &quot;-&quot; &amp; LPAD(TEXT(MONTH({!Price_Adjustment.To_Date__c})),2,&apos;0&apos;) &amp; &quot;-&quot; &amp; LPAD(TEXT(DAY({!Price_Adjustment.To_Date__c})),2,&apos;0&apos;)</expression>
    </formulas>
    <interviewLabel>Generate Price Adjustment Lines {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Price Adjustments</label>
    <loops>
        <name>Account_Price_Adjustment_Line</name>
        <label>For Each Matching Price Adjustment Line</label>
        <locationX>226</locationX>
        <locationY>2030</locationY>
        <collectionReference>Account_Price_Adjustment_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Price_Adjustment_Notice</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Price_Adjustment_Notice</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Asset</name>
        <label>For Each Asset</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <collectionReference>Get_Root_Assets.sobjectRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Price_Adjustment_Line</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Result_Summary</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Price_Adjustment_Notice</name>
        <label>For Each Notice</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <collectionReference>PriceAdjustmentNotices</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Account_Price_Adjustment_Lines</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Price_Adjustment_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Price_Adjustment_Lines</name>
        <label>Create Price Adjustment Lines</label>
        <locationX>50</locationX>
        <locationY>2462</locationY>
        <connector>
            <targetReference>Update_Price_Adjustment</targetReference>
        </connector>
        <inputReference>PriceAdjustmentLines</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Price_Adjustment_Notices</name>
        <label>Create Price Adjustment Notices</label>
        <locationX>50</locationX>
        <locationY>1670</locationY>
        <connector>
            <targetReference>Price_Adjustment_Notice</targetReference>
        </connector>
        <inputReference>PriceAdjustmentNotices</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Price_Adjustment</name>
        <label>Get Price Adjustment</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirm_Criteria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Price_Adjustment__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Price_Adjustment</name>
        <label>Update Price Adjustment</label>
        <locationX>182</locationX>
        <locationY>2678</locationY>
        <inputReference>Price_Adjustment</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirm_Criteria</name>
        <label>Confirm Criteria</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Adjustment_Percent</targetReference>
        </connector>
        <fields>
            <name>Adjustment_Details</name>
            <fieldText>Adjustment Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Adjustment_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Price_Adjustment.Adjustment_Date__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Adjustment_Percent</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Price_Adjustment.Adjustment_Percent__c</elementReference>
                    </defaultValue>
                    <fieldText>Adjustment (%)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>4</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Criteria</name>
            <fieldText>Criteria</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Criteria_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Price_Adjustment.Legal_Entity__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Price_Adjustment.Go_Live_Month__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Price_Adjustment.To_Date__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Price_Adjustment.From_Date__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Price_Adjustment.Finance_Code__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_Results</name>
        <label>Confirm Results</label>
        <locationX>50</locationX>
        <locationY>1550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Price_Adjustment_Notices</targetReference>
        </connector>
        <fields>
            <name>Summary</name>
            <fieldText>&lt;p&gt;Criteria matched {!RootAssetCount} records for {!AccountCount} accounts.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Confirm to generate Price Adjustment Lines and Notices.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Results</name>
        <label>No Results</label>
        <locationX>314</locationX>
        <locationY>1550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Price_Adjustment</targetReference>
        </connector>
        <fields>
            <name>No_Results_Message</name>
            <fieldText>&lt;p&gt;No active assets were found matching the given criteria.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Price_Adjustment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>AccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Account_Price_Adjustment_Lines</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Price_Adjustment_Line__c</objectType>
    </variables>
    <variables>
        <name>PriceAdjustmentLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Price_Adjustment_Line__c</objectType>
    </variables>
    <variables>
        <name>PriceAdjustmentLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Price_Adjustment_Line__c</objectType>
    </variables>
    <variables>
        <name>PriceAdjustmentLines_staged</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Price_Adjustment_Line__c</objectType>
    </variables>
    <variables>
        <name>PriceAdjustmentNotice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Price_Adjustment_Notice__c</objectType>
    </variables>
    <variables>
        <name>PriceAdjustmentNotices</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Price_Adjustment_Notice__c</objectType>
    </variables>
    <variables>
        <name>QuoteLineCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>QuoteLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RootAssetCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
