force-app/main/default/flows/LeadAutomation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>decIsFlowDisabled</name>
        <label>decIsFlowDisabled</label>
        <locationX>206</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>desIsLeadStatusUpdated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_flowsDisabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Process_Deactivation__c.Disable_Processes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>desIsLeadStatusUpdated</name>
        <label>desIsLeadStatusUpdated</label>
        <locationX>627</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>desIsMQLChecked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_leadStatusUpdated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>desIsNew</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>desIsMQLChecked</name>
        <label>desIsMQLChecked</label>
        <locationX>627</locationX>
        <locationY>2471</locationY>
        <defaultConnector>
            <targetReference>desSQLTrue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_MQLUpdated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MQL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MQL_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateMQLTimeStamp</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>MQLUnchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MQL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MQL_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRemoveMQLTimestamp</targetReference>
            </connector>
            <label>MQLUnchecked</label>
        </rules>
    </decisions>
    <decisions>
        <description>checks if the triggering lead is new</description>
        <name>desIsNew</name>
        <label>desIsNew</label>
        <locationX>325</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>getExistingLeadStatusTracking</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_isNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createLeadStatusTracking</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>checks if the status of the lead is set to converted</description>
        <name>desIsStatusConverted</name>
        <label>desIsStatusConverted</label>
        <locationX>446</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>desIsStatusQualified</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Converted</defaultConnectorLabel>
        <rules>
            <name>No_notConvertedStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createNewLeadStatusTracking</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>desIsStatusNurture</name>
        <label>desIsStatusNurture</label>
        <locationX>600</locationX>
        <locationY>1823</locationY>
        <defaultConnector>
            <targetReference>desIsMQLChecked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Nurture</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nurture</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getNurtureQueue</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>desIsStatusQualified</name>
        <label>desIsStatusQualified</label>
        <locationX>600</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>desIsStatusNurture</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>StatusQualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateSQL</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>StatusQualified</label>
        </rules>
    </decisions>
    <decisions>
        <description>checks if there is an existing lead status tracking record found</description>
        <name>desLeasStatusTrackingRecordFound</name>
        <label>desLeasStatusTrackingRecordFound</label>
        <locationX>600</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>desIsStatusQualified</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_recordFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getExistingLeadStatusTracking</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateLeadStatusTracking</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>desSQLTrue</name>
        <label>desSQLTrue</label>
        <locationX>627</locationX>
        <locationY>2807</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_SQLTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SQL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SQL_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateSQLTimeStamp</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>SQLUnchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SQL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SQL_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateRemoveSQLTimestamp</targetReference>
            </connector>
            <label>SQLUnchecked</label>
        </rules>
    </decisions>
    <description>Automation of the Lead object to trigger after create or edit of a lead record.</description>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>LeadAutomation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - After Create / Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createLeadStatusTracking</name>
        <label>createLeadStatusTracking</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>desIsMQLChecked</targetReference>
        </connector>
        <inputAssignments>
            <field>From_Status_Timestamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>From_Status__c</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Lead_Status_Tracking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>creates the new in flight lead status tracking record to start the clock on the latest status</description>
        <name>createNewLeadStatusTracking</name>
        <label>createNewLeadStatusTracking</label>
        <locationX>314</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>desIsStatusQualified</targetReference>
        </connector>
        <inputAssignments>
            <field>From_Status_Timestamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>From_Status__c</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Lead_Status_Tracking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getExistingLeadStatusTracking</name>
        <label>getExistingLeadStatusTracking</label>
        <locationX>600</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>desLeasStatusTrackingRecordFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>To_Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead_Status_Tracking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getNurtureQueue</name>
        <label>getNurtureQueue</label>
        <locationX>468</locationX>
        <locationY>1943</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateToQueueNurture</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead_Nurture</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>updates the in flight lead status tracking values</description>
        <name>updateLeadStatusTracking</name>
        <label>updateLeadStatusTracking</label>
        <locationX>446</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>desIsStatusConverted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getExistingLeadStatusTracking.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>To_Status_Timestamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>To_Status__c</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <object>Lead_Status_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateMQLTimeStamp</name>
        <label>updateMQLTimeStamp</label>
        <locationX>363</locationX>
        <locationY>2591</locationY>
        <connector>
            <targetReference>desSQLTrue</targetReference>
        </connector>
        <inputAssignments>
            <field>MQL_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRemoveMQLTimestamp</name>
        <label>UpdateRemoveMQLTimestamp</label>
        <locationX>627</locationX>
        <locationY>2591</locationY>
        <connector>
            <targetReference>desSQLTrue</targetReference>
        </connector>
        <inputAssignments>
            <field>MQL_Date_Time__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateRemoveSQLTimestamp</name>
        <label>updateRemoveSQLTimestamp</label>
        <locationX>627</locationX>
        <locationY>2927</locationY>
        <inputAssignments>
            <field>SQL_Date_Time__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateSQL</name>
        <label>updateSQL</label>
        <locationX>468</locationX>
        <locationY>1607</locationY>
        <connector>
            <targetReference>desIsStatusNurture</targetReference>
        </connector>
        <inputAssignments>
            <field>SQL__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateSQLTimeStamp</name>
        <label>updateSQLTimeStamp</label>
        <locationX>363</locationX>
        <locationY>2927</locationY>
        <inputAssignments>
            <field>SQL_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateToQueueNurture</name>
        <label>UpdateToQueueNurture</label>
        <locationX>468</locationX>
        <locationY>2063</locationY>
        <connector>
            <targetReference>desIsMQLChecked</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getNurtureQueue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>80</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>decIsFlowDisabled</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
