force-app/main/default/flows/LeadStatusTrackingScheduledDeletion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>decIsFlowDisabled</name>
        <label>decIsFlowDisabled</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>getOldLeadStatusTrackingRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_flowsDisabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Process_Deactivation__c.Disable_Processes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>flow to automatically delete a lead status tracking record that is over one year old</description>
    <environments>Default</environments>
    <formulas>
        <name>formOneYearAgo</name>
        <dataType>DateTime</dataType>
        <expression>now() - 365</expression>
    </formulas>
    <interviewLabel>LeadStatusTrackingScheduledDeletion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Status Tracking - Scheduled</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>deleteObsoleteLeadStatusTracking</name>
        <label>deleteObsoleteLeadStatusTracking</label>
        <locationX>308</locationX>
        <locationY>516</locationY>
        <inputReference>getOldLeadStatusTrackingRecords</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>getOldLeadStatusTrackingRecords</name>
        <label>getOldLeadStatusTrackingRecords</label>
        <locationX>308</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>deleteObsoleteLeadStatusTracking</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>formOneYearAgo</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead_Status_Tracking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>decIsFlowDisabled</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-08-18</startDate>
            <startTime>03:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
