force-app/main/default/flows/New_quote_redirect.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_triggering_object</name>
        <label>Get triggering object</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <actionName>ActionGetObjectName</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Triggering_object</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>objId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>TriggeringObject</assignToReference>
            <name>objName</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_record</name>
        <label>Navigate to record</label>
        <locationX>578</locationX>
        <locationY>1334</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>QuoteRecordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <constants>
        <name>constAccount</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Triggering_object</name>
        <label>Triggering object</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TriggeringObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Record</targetReference>
            </connector>
            <label>Is Account</label>
        </rules>
        <rules>
            <name>Is_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TriggeringObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Record</targetReference>
            </connector>
            <label>Is Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Triggering_object_0</name>
        <label>Triggering object</label>
        <locationX>578</locationX>
        <locationY>734</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Account_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TriggeringObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Quote_From_Account</targetReference>
            </connector>
            <label>Is Account</label>
        </rules>
        <rules>
            <name>Is_Opportunity_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TriggeringObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Quote_From_Opp</targetReference>
            </connector>
            <label>Is Opportunity</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IndicativeStartDateDefault</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+14</expression>
    </formulas>
    <formulas>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <expression>IF({!TriggeringObject} = &apos;Opportunity&apos;, {!Get_Opportunity_Record.Account.Id}, {!Get_Account_Record.Id})</expression>
    </formulas>
    <formulas>
        <name>varAccountName</name>
        <dataType>String</dataType>
        <expression>IF({!TriggeringObject} = &apos;Opportunity&apos;, {!Get_Opportunity_Record.Account.Name}, {!Get_Account_Record.Name})</expression>
    </formulas>
    <formulas>
        <name>varOpportunityId</name>
        <dataType>String</dataType>
        <expression>IF({!TriggeringObject} = &apos;Opportunity&apos;, {!Get_Opportunity_Record.Id}, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>varOpportunityName</name>
        <dataType>String</dataType>
        <expression>IF({!TriggeringObject} = &apos;Opportunity&apos;, {!Get_Opportunity_Record.Name}, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>varPrimaryFlag</name>
        <dataType>Boolean</dataType>
        <expression>IF({!TriggeringObject} = &apos;Opportunity&apos;, {!Primary_Quote}, false)</expression>
    </formulas>
    <interviewLabel>New quote redirect {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New quote redirect</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Quote_From_Account</name>
        <label>Create Quote From Account</label>
        <locationX>50</locationX>
        <locationY>854</locationY>
        <assignRecordIdToReference>QuoteRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Navigate_to_record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Get_Account_Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quick_Quote__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Account__c</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__StartDate__c</field>
            <value>
                <elementReference>Indicative_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote_From_Opp</name>
        <label>Create Quote From Opp</label>
        <locationX>578</locationX>
        <locationY>854</locationY>
        <assignRecordIdToReference>QuoteRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Navigate_to_record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_from_Opp</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Get_Opportunity_Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Account__c</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Opportunity2__c</field>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Primary__c</field>
            <value>
                <elementReference>varPrimaryFlag</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__StartDate__c</field>
            <value>
                <elementReference>Indicative_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;An error occurred during Quote creation&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_from_Opp</name>
        <label>Error Screen from Opp</label>
        <locationX>842</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Error_Message</name>
            <fieldText>&lt;p&gt;An error occurred during Quote creation&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_record</name>
        <label>New quote defaults</label>
        <locationX>578</locationX>
        <locationY>614</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Triggering_object_0</targetReference>
        </connector>
        <fields>
            <name>Indicative_Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>IndicativeStartDateDefault</elementReference>
            </defaultValue>
            <fieldText>Indicative Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Primary_Quote</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Primary Quote</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>TriggeringObject</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Opportunity</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AccountName</name>
            <fieldText>&lt;p&gt;Account&lt;/p&gt;&lt;p&gt;{!varAccountName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OpportunityName</name>
            <fieldText>&lt;p&gt;Opportunity&lt;/p&gt;&lt;p&gt;{!varOpportunityName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>TriggeringObject</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Opportunity</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_triggering_object</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>QuoteRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TriggeringObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
