force-app/main/default/flows/Order_Product_Fulfilment_Complete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Create_License_Detail</name>
        <label>Create License Detail</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>LicenseDetail.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OrderItem__r.Asset__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LicenseDetail.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LicenseDetail.License__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.License__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_License_Detail</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Linked_License_Asset</name>
        <label>Linked License Asset?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Linked_License_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderItem__r.Asset__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>License Install</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_License_Detail</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Order Product Fulfilment - Complete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Product Fulfilment - Complete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_License_Detail</name>
        <label>Insert License Detail</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputReference>LicenseDetail</inputReference>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Linked_License_Asset</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <object>OrderItemFulfilment__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>LicenseDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>License_Detail__c</objectType>
    </variables>
</Flow>
