force-app/main/default/flows/Order_Product_Fulfilment_Created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Set_License_Id</name>
        <label>Set License Id</label>
        <locationX>270</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>LicenseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>License_Detail.License__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>License_Detail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_License_Id_Null</name>
        <label>Set License Id = Null</label>
        <locationX>534</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>LicenseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MULTIPLE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>License_Detail</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Asset_Has_Single_License</name>
        <label>Asset Has Single License?</label>
        <locationX>182</locationX>
        <locationY>1127</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Single_License</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LicenseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LicenseId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LicenseId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MULTIPLE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Fulfilment_License_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Licensed_Asset</name>
        <label>Licensed Asset?</label>
        <locationX>336</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Linked_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderItem__r.Asset__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>License Install</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Asset_License_Details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Same_License_Id</name>
        <label>New/Same License Id?</label>
        <locationX>402</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Set_License_Id_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Different License Id</defaultConnectorLabel>
        <rules>
            <name>Yes_New_Same_License_Id</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LicenseId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>License_Detail.License__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LicenseId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LicenseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_License_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Order Product Fulfilment - Created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Product Fulfilment - Created</label>
    <loops>
        <name>License_Detail</name>
        <label>For Each License Detail</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_Asset_License_Details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>New_Same_License_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Asset_Has_Single_License</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Asset_License_Details</name>
        <label>Get Asset License Details</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>License_Detail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Asset__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderItem__r.Asset__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>License_Detail__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>License__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Fulfilment_License_Id</name>
        <label>Set Fulfilment License Id</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>License__c</field>
            <value>
                <elementReference>LicenseId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Licensed_Asset</targetReference>
        </connector>
        <object>OrderItemFulfilment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>LicenseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
