force-app/main/default/flows/Order_On_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Contract_Exists</name>
        <label>Contract Exists?</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Order_Defaults</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Contract_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract_Document.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Link_to_Order</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Need to add additional filters to the query to ensure we pull the latest actual contract document.</description>
    <environments>Default</environments>
    <formulas>
        <name>SignedQuoteURL</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Contract_Document.ContentDocumentId}), &apos;&apos;, LEFT({!$Api.Partner_Server_URL_470}, FIND(&apos;/services&apos;, {!$Api.Partner_Server_URL_470})) + {!Get_Contract_Document.ContentDocumentId})</expression>
    </formulas>
    <interviewLabel>Order - On Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order - On Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Link_to_Order</name>
        <label>Link to Order</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Order_Defaults</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>Get_Contract_Document.ContentDocumentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShareType</field>
            <value>
                <elementReference>Get_Contract_Document.ShareType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <elementReference>Get_Contract_Document.Visibility</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contract_Document</name>
        <label>Get Contract Document</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contract_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <sortField>SystemModstamp</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Order_Defaults</name>
        <label>Order Defaults</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>Customer_Reference__c</field>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Customer_Reference__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PoNumber</field>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.PO_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Signature_Date__c</field>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Quote_Signature_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Signed_Quote_URL__c</field>
            <value>
                <elementReference>SignedQuoteURL</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contract_Document</targetReference>
        </connector>
        <object>Order</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
