force-app/main/default/flows/Order_Product_On_Creation_Default_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Increment_Contract_Revision</name>
        <label>Increment Contract Revision</label>
        <locationX>578</locationX>
        <locationY>1583</locationY>
        <assignmentItems>
            <assignToReference>ContractRevision</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Defaults</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contract_Alignment_Account_Customer</name>
        <label>Set Contract Alignment Account -&gt; Customer</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>contractAlignmentAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Order.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quote_Line_From_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contract_Alignment_Account_Site</name>
        <label>Set Contract Alignment Account -&gt; Site</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>contractAlignmentAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__ShippingAccount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quote_Line_From_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_From_Current_Contract_Asset_Customer</name>
        <label>Set From Current Contract Asset - Customer</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>ContractRevision</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Line.BundleRoot__r.Asset__r.Aggregate_Asset__r.Revision__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRootAssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Line.BundleRoot__r.Asset__r.Aggregate_Asset__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Prior_Revision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Executed either for products with contract alignment as &apos;per site&apos; or if there are no site assets at all (in which case this is really customer.</description>
        <name>Set_From_Current_Contract_Asset_Site</name>
        <label>Set From Current Contract Asset - Site</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>ContractRevision</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Line.BundleRoot__r.Asset__r.Revision__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRootAssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Line.BundleRoot__r.Asset__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Prior_Revision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Prior_Revision</name>
        <label>Set Prior Revision</label>
        <locationX>578</locationX>
        <locationY>1343</locationY>
        <assignmentItems>
            <assignToReference>PriorContractRevision</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractRevision</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contract_Alignment</name>
        <label>Contract Alignment</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Contract_Alignment_Account_Customer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.ContractAlignment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One contract per customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contract_Alignment_Account_Customer</targetReference>
            </connector>
            <label>Customer</label>
        </rules>
        <rules>
            <name>Site</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.ContractAlignment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One contract per site</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contract_Alignment_Account_Site</targetReference>
            </connector>
            <label>Site</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contract_Alignment_2</name>
        <label>Contract Alignment</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_From_Current_Contract_Asset_Customer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Customer_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.ContractAlignment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One contract per customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote_Line.BundleRoot__r.Asset__r.Aggregate_Asset__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_From_Current_Contract_Asset_Customer</targetReference>
            </connector>
            <label>Customer</label>
        </rules>
        <rules>
            <name>Site_2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.ContractAlignment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One contract per site</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote_Line.BundleRoot__r.Asset__r.Aggregate_Asset__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_From_Current_Contract_Asset_Site</targetReference>
            </connector>
            <label>Site</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_Type</name>
        <label>Order Type</label>
        <locationX>578</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Defaults</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Order.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Increment_Contract_Revision</targetReference>
            </connector>
            <label>Renewal</label>
        </rules>
        <rules>
            <name>Re_contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Order.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recontract</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Contract_Revision</targetReference>
            </connector>
            <label>Re-contract</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_Line_From_Asset</name>
        <label>Quote Line From Asset?</label>
        <locationX>578</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>Get_Contract_Root_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Quote_Line_From_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Line.BundleRoot__r.Asset__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Alignment_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>bundleProductId</name>
        <dataType>String</dataType>
        <expression>IF(
    ISBLANK({!Get_Quote_Line.SBQQ__RequiredBy__c}),
    {!Get_Quote_Line.SBQQ__Product__c},
    {!Get_Quote_Line.BundleRoot__r.SBQQ__Product__c}
)</expression>
    </formulas>
    <formulas>
        <name>PriorRevision</name>
        <dataType>Number</dataType>
        <expression>{!Get_Quote_Line.Asset__r.Revision__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Revision</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Get_Quote_Line.Asset__c}), 1, {!Get_Quote_Line.Asset__r.Revision__c} + 1)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Order Product - On Creation - Default Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Product - On Creation - Default Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contract_Root_Asset</name>
        <label>Get Contract Root Asset</label>
        <locationX>842</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Prior_Revision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>bundleProductId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contractAlignmentAccountId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>ContractRootAssetId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContractRevision</assignToReference>
            <field>Revision__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line</name>
        <label>Get Quote Line</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contract_Alignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__QuoteLine__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Defaults</name>
        <label>Defaults</label>
        <locationX>578</locationX>
        <locationY>1799</locationY>
        <inputAssignments>
            <field>Asset__c</field>
            <value>
                <elementReference>Get_Quote_Line.Asset__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Revision__c</field>
            <value>
                <elementReference>ContractRevision</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Modified_Root_Asset__c</field>
            <value>
                <elementReference>ContractRootAssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prior_Contract_Revision__c</field>
            <value>
                <elementReference>PriorContractRevision</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prior_Revision__c</field>
            <value>
                <elementReference>PriorRevision</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Revision__c</field>
            <value>
                <elementReference>Revision</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ContractAction__c</field>
            <value>
                <elementReference>Get_Quote_Line.Change_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ShippingAccount__c</field>
            <value>
                <elementReference>Get_Quote_Line.Site__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote_Line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__QuoteLine__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>OrderItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>contractAlignmentAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContractRevision</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ContractRootAssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PriorContractRevision</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
