force-app/main/default/flows/PartnerApplicationCertification_AfterSave.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>setDMSValues</name>
        <label>setDMSValues</label>
        <locationX>407</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>varDMS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getPartnerApplication.DMS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDMS</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDMS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.DMS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPresence</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getPartnerApplication.Market_Presence__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPresence</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPresence</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Market_Presence__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setValuesToPicklists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setValuesToPicklists</name>
        <label>setValuesToPicklists</label>
        <locationX>407</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>pickvalPresence</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPresence</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pickvalDMS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDMS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateCertifiedApplication</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>desAreFlowsDeactivated</name>
        <label>desAreFlowsDeactivated</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>desIsStageGR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_FlowsDeactivated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Process_Deactivation__c.Disable_Processes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>checks if the Partner Application record already exists associated to the Certification record</description>
        <name>desIsPartnerAppCreated</name>
        <label>desIsPartnerAppCreated?</label>
        <locationX>275</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>getPartnerApplication</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_NoApplication</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner_Application__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>checks if the stage on the record is set to General Release</description>
        <name>desIsStageGR</name>
        <label>desIsStageGR</label>
        <locationX>473</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_GeneralRelease</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6. General Release</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>desIsPartnerAppCreated</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>PartnerApplicationCertification-AfterSave {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PartnerApplicationCertification-AfterSave</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getPartnerApplication</name>
        <label>getPartnerApplication</label>
        <locationX>407</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setDMSValues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Partner_Application__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Partner_Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateCertifiedApplication</name>
        <label>updateCertifiedApplication</label>
        <locationX>407</locationX>
        <locationY>1055</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Partner_Application__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DMS__c</field>
            <value>
                <elementReference>pickvalDMS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Market_Presence__c</field>
            <value>
                <elementReference>pickvalPresence</elementReference>
            </value>
        </inputAssignments>
        <object>Partner_Application__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>desAreFlowsDeactivated</targetReference>
        </connector>
        <object>Partner_Application_Certification__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>pickvalDMS</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pickvalPresence</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDMS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPresence</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
