force-app/main/default/flows/Price_Adjustment_Line_Status_Activated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Error_Notification</name>
        <label>Send Error Notification</label>
        <locationX>440</locationX>
        <locationY>815</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>errorMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Price Adjustment Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_Recipient_Ids</name>
        <label>Set Recipient Ids</label>
        <locationX>440</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Error_Notification</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <expression>&quot;Error activating price adjustment transaction:&quot; &amp; {!$Flow.FaultMessage}</expression>
    </formulas>
    <interviewLabel>Price Adjustment Line - Status: Activated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Price Adjustment Line - Status: Activated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Notification_Type</name>
        <label>Get Notification Type</label>
        <locationX>440</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Recipient_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order_Status</name>
        <label>Update Order Status</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <faultConnector>
            <targetReference>Get_Notification_Type</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Order__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Customer_Acceptance</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <object>Price_Adjustment_Line__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Set_Customer_Acceptance</name>
        <label>Set Customer Acceptance</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Update_Order_Status</targetReference>
        </connector>
        <flowName>Subflow_Set_Customer_Acceptance</flowName>
        <inputAssignments>
            <name>quoteId</name>
            <value>
                <elementReference>$Record.Quote__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
