force-app/main/default/flows/Price_Adjustment_Line_On_Status_Created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Order_After_Calculation</name>
        <label>Create Order After Calculation</label>
        <locationX>842</locationX>
        <locationY>648</locationY>
        <actionName>ActionRunAfterJob</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>jobId</name>
            <value>
                <elementReference>Get_Job_Record.SBQQ__JobId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>Create_Price_Adjustment_Order</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowInputNames</name>
            <value>
                <elementReference>FlowInputNames</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowInputValues</name>
            <value>
                <elementReference>FlowInputValues</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_Price_Adjustment_Quote</name>
        <label>Create Price Adjustment Quote</label>
        <locationX>50</locationX>
        <locationY>408</locationY>
        <actionName>AssetManagementActionModify</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Matching_Quote_Lines</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Get_Error_Notification_Type</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>Amendment</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestDate</name>
            <value>
                <elementReference>$Record.Price_Adjustment__r.Adjustment_Date__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>disableCalculation</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>assetId</name>
            <value>
                <elementReference>$Record.Asset__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>oppSubType</name>
            <value>
                <stringValue>Contract Admin</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Error_Notification</name>
        <label>Error Notification</label>
        <locationX>314</locationX>
        <locationY>768</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Update_Price_Adjustment_Line</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Error_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>errorMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Price Adjustment Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Throw_Exception</name>
        <label>Throw Exception</label>
        <locationX>1106</locationX>
        <locationY>528</locationY>
        <actionName>ThrowError</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>No jobs found</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Apply_Adjustment</name>
        <label>Apply Adjustment</label>
        <locationX>138</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>QuoteLine.Price_Adjustment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Price_Adjustment__r.Adjustment_Percent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QuoteLine</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Flow_Inputs</name>
        <label>Set Flow Inputs</label>
        <locationX>842</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>FlowInputNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>quoteId</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FlowInputValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Quote__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FlowInputNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>priceAdjustmentLineId</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FlowInputValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Order_After_Calculation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Recipient_Ids</name>
        <label>Set Recipient Ids</label>
        <locationX>314</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Notification</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Effective_Date_Valid</name>
        <label>Effective Date Valid?</label>
        <locationX>314</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Effective_Date_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Asset__r.LifecycleStartDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Price_Adjustment__r.Adjustment_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Asset__r.LifecycleEndDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Price_Adjustment__r.Adjustment_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Price_Adjustment_Quote</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Job_Found</name>
        <label>Job Found?</label>
        <locationX>974</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>Throw_Exception</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Job_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Job_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Flow_Inputs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Matches_Adjustment_Criteria</name>
        <label>Matches Adjustment Criteria?</label>
        <locationX>270</locationX>
        <locationY>768</locationY>
        <defaultConnector>
            <targetReference>QuoteLine</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Matches_Criteria</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>QuoteLine.SBQQ__Product__r.FinanceCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Price_Adjustment__r.Finance_Code__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Price_Adjustment__r.Finance_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>QuoteLine.Bypass_Renewal_Adjustment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Apply_Adjustment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <expression>&quot;Error creating one or more price adjustment transactions: &quot; &amp; {!$Flow.FaultMessage}</expression>
    </formulas>
    <formulas>
        <name>JobRecordIdQuery</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$Record.Quote__c}) &amp; &quot;::QuoteCalculator&quot;</expression>
    </formulas>
    <interviewLabel>Price Adjustment Line - On Status: Created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Price Adjustment Line - On Status: Created</label>
    <loops>
        <name>QuoteLine</name>
        <label>For Each Quote Line</label>
        <locationX>50</locationX>
        <locationY>648</locationY>
        <collectionReference>Get_Matching_Quote_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Matches_Adjustment_Criteria</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Quote_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Error_Notification_Type</name>
        <label>Get Error Notification Type</label>
        <locationX>314</locationX>
        <locationY>528</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Recipient_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Job_Record</name>
        <label>Get Job Record</label>
        <locationX>974</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Job_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__RecordId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>JobRecordIdQuery</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__RecordJob__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Matching_Quote_Lines</name>
        <label>Get Matching Quote Lines</label>
        <locationX>50</locationX>
        <locationY>528</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>QuoteLine</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Price_Adjustment_Quote.quoteId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ChargeType__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>One-Time</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Quote_on_Price_Adjustment_Line</name>
        <label>Set Quote on Price Adjustment Line</label>
        <locationX>50</locationX>
        <locationY>1320</locationY>
        <inputAssignments>
            <field>Quote__c</field>
            <value>
                <elementReference>Create_Price_Adjustment_Quote.quoteId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Price_Adjustment_Line</name>
        <label>Update Price Adjustment Line</label>
        <locationX>314</locationX>
        <locationY>888</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_Lines</name>
        <label>Update Quote Lines</label>
        <locationX>50</locationX>
        <locationY>1200</locationY>
        <connector>
            <targetReference>Set_Quote_on_Price_Adjustment_Line</targetReference>
        </connector>
        <inputReference>QuoteLines</inputReference>
    </recordUpdates>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Effective_Date_Valid</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </filters>
        <object>Price_Adjustment_Line__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Job_Record</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>FlowInputNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FlowInputValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
