force-app/main/default/flows/Price_Adjustment_Activate_Orders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Update_Line</name>
        <label>Update Line</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Price_Adjustment_Line.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriceAdjustmentLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Price_Adjustment_Line</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Price_Adjustment_Line</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Activate Orders {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Activate Orders</label>
    <loops>
        <name>Price_Adjustment_Line</name>
        <label>For Each Price Adjustment Line</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_Price_Adjustment_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Line</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Price_Adjustment_Lines</name>
        <label>Get Price Adjustment Lines</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Price_Adjustment_Line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Price_Adjustment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </filters>
        <filters>
            <field>Order__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Price_Adjustment_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lines</name>
        <label>Update Lines</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <inputReference>PriceAdjustmentLines</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Price_Adjustment_Lines</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>PriceAdjustmentLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Price_Adjustment_Line__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
