force-app/main/default/flows/Quote_On_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Accounts</name>
        <label>Assign Accounts</label>
        <locationX>1245</locationX>
        <locationY>1279</locationY>
        <assignmentItems>
            <assignToReference>AccountsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Accounts_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Accounts_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Manufacturer</name>
        <label>Assign Manufacturer</label>
        <locationX>1397</locationX>
        <locationY>1725</locationY>
        <assignmentItems>
            <assignToReference>AvailableManufacturersString</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Available_Makes_Loop.Manufacturer_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AvailableManufacturersString</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>|</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Available_Makes_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Quote_Account</name>
        <label>Assign Quote Account</label>
        <locationX>1021</locationX>
        <locationY>1153</locationY>
        <assignmentItems>
            <assignToReference>AccountsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SBQQ__Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Accounts_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Available_Make_Ids</name>
        <label>Available Make Ids</label>
        <locationX>1534</locationX>
        <locationY>1460</locationY>
        <assignmentItems>
            <assignToReference>AvailableMakesString</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Available_Makes_Loop.Make__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AvailableMakesString</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>|</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Manufacturer_Assigned</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Make_Assigned</name>
        <label>Make Assigned?</label>
        <locationX>1387</locationX>
        <locationY>1413</locationY>
        <defaultConnector>
            <targetReference>Available_Make_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AvailableMakesString</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Available_Makes_Loop.Make__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Manufacturer_Assigned</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manufacturer_Assigned</name>
        <label>Manufacturer Assigned?</label>
        <locationX>1390</locationX>
        <locationY>1563</locationY>
        <defaultConnector>
            <targetReference>Assign_Manufacturer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AvailableManufacturersString</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Available_Makes_Loop.Manufacturer_Code__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Available_Makes_Loop.Manufacturer_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Available_Makes_Loop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_Type</name>
        <label>Quote Type</label>
        <locationX>1015</locationX>
        <locationY>1843</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Quote_Type_Amendment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amendment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Amendment_Defaults</targetReference>
            </connector>
            <label>Amendment</label>
        </rules>
        <rules>
            <name>Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Sub_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quote_Sub_type</targetReference>
            </connector>
            <label>Quote with sub-type</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>QuoteType</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!Get_Opportunity.Sub_Type__c})), null, TEXT({!Get_Opportunity.Sub_Type__c}))</expression>
    </formulas>
    <interviewLabel>Quote - On Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote - On Creation</label>
    <loops>
        <name>Accounts_Loop</name>
        <label>Accounts</label>
        <locationX>1021</locationX>
        <locationY>1279</locationY>
        <collectionReference>Get_child_accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Accounts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Available_Makes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Available_Makes_Loop</name>
        <label>Available Makes</label>
        <locationX>1022</locationX>
        <locationY>1552</locationY>
        <collectionReference>Get_Available_Makes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Make_Assigned</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Defaults</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Available_Makes</name>
        <label>Get Available Makes</label>
        <locationX>1022</locationX>
        <locationY>1410</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Available_Makes_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>In</operator>
            <value>
                <elementReference>AccountsCollection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Make_JO__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_child_accounts</name>
        <label>Get child accounts</label>
        <locationX>1019</locationX>
        <locationY>1033</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Quote_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>1016</locationX>
        <locationY>495</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRecordOpportunityContactRole</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Products</name>
        <label>Get Opportunity Products</label>
        <locationX>1016</locationX>
        <locationY>749</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Template_Contract_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_Price_Book</name>
        <label>Get Standard Price Book</label>
        <locationX>1016</locationX>
        <locationY>359</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <queriedFields>Id</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Template_Contract_Id</name>
        <label>Get Template Contract Id</label>
        <locationX>1017</locationX>
        <locationY>895</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_child_accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>dfsle__SourceObject__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SBQQ__Quote__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CPQ Contract Document - In Process</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>dfsle__GenTemplate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordOpportunityContactRole</name>
        <label>GetRecordOpportunityContactRole</label>
        <locationX>1015</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPrimary</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Amendment_Defaults</name>
        <label>Amendment Defaults</label>
        <locationX>888</locationX>
        <locationY>1960</locationY>
        <inputAssignments>
            <field>EditLinesFieldSetName__c</field>
            <value>
                <stringValue>Editor_Amendment</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Quote_Sub_type</name>
        <label>Quote Sub-type</label>
        <locationX>1155</locationX>
        <locationY>1968</locationY>
        <inputAssignments>
            <field>SBQQ__Type__c</field>
            <value>
                <elementReference>Get_Opportunity.Sub_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Defaults</name>
        <label>Set Defaults</label>
        <locationX>1023</locationX>
        <locationY>1706</locationY>
        <connector>
            <targetReference>Quote_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Address__City__s</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Address__CountryCode__s</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.BillingCountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Address__GeocodeAccuracy__s</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.BillingGeocodeAccuracy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Address__Latitude__s</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.BillingLatitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Address__Longitude__s</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.BillingLongitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Address__PostalCode__s</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Address__StateCode__s</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.BillingStateCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Address__Street__s</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Legal_Entity__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.Legal_Entity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Available_Account_Makes__c</field>
            <value>
                <elementReference>AvailableMakesString</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Available_Account_Manufacturers__c</field>
            <value>
                <elementReference>AvailableManufacturersString</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__BillingCountry__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PricebookId__c</field>
            <value>
                <elementReference>Get_Standard_Price_Book.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PrimaryContact__c</field>
            <value>
                <elementReference>GetRecordOpportunityContactRole.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Template_Id__c</field>
            <value>
                <elementReference>Get_Template_Contract_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>890</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Standard_Price_Book</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountsCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AvailableMakesString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AvailableManufacturersString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GetOpportunityContactRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>GetRecordOpportunityContactRole.ContactId</elementReference>
        </value>
    </variables>
    <variables>
        <name>OppProductCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
