force-app/main/default/flows/Quote_Updated_Update_Opportunity_Products.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_Opp_Product_To_Delete_Count</name>
        <label>Set Opp Product To Delete Count</label>
        <locationX>182</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>OppProductCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>toDelete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Opp_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Deletion</name>
        <label>Stage Deletion</label>
        <locationX>446</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>toDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OpportunityLineItem</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Opp_Products</name>
        <label>Has Opp Products?</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Update_related_opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppProductCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_existing_opportunity_product</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Product_From_Std_PB</name>
        <label>Opp Product From Std PB?</label>
        <locationX>358</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Stage_Deletion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Std_PB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityLineItem.PricebookEntry.Pricebook2Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Standard_Price_Book.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OpportunityLineItem</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Quote - Updated (Update Opportunity Products) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote - Updated (Update Opportunity Products)</label>
    <loops>
        <name>OpportunityLineItem</name>
        <label>For Each Opp Product</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_Opportunity_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Opp_Product_From_Std_PB</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Opp_Product_To_Delete_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Remove_existing_opportunity_product</name>
        <label>Remove existing opportunity product</label>
        <locationX>50</locationX>
        <locationY>1367</locationY>
        <connector>
            <targetReference>Update_related_opportunity</targetReference>
        </connector>
        <inputReference>toDelete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Opportunity_Products</name>
        <label>Get Opportunity Products</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OpportunityLineItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_Price_Book</name>
        <label>Get Standard Price Book</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <queriedFields>Id</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_related_opportunity</name>
        <label>Update related opportunity</label>
        <locationX>182</locationX>
        <locationY>1583</locationY>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Standard_Price_Book.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.SBQQ__Opportunity2__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Standard_Price_Book</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OppProductCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>toDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
