force-app/main/default/flows/Select_Site.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_Account_Brand_Id</name>
        <label>Set Account Brand Id</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>accountBrandId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Brand.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Brand</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Output</name>
        <label>Set Output</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>siteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sites</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountBrandId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Make</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Brand_id_set</name>
        <label>Brand id set?</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Select_Brand</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_BrandIdSet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>brandId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Brand</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>version to test multi select picklist</description>
    <dynamicChoiceSets>
        <name>brands</name>
        <dataType>String</dataType>
        <displayField>Make_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Sites_List</elementReference>
            </value>
        </filters>
        <object>Account_Make_JO__c</object>
        <outputAssignments>
            <assignToReference>brandName</assignToReference>
            <field>Make_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>brandId</assignToReference>
            <field>Make__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>manufacturerCode</assignToReference>
            <field>Manufacturer_Code__c</field>
        </outputAssignments>
        <valueField>Make_Name__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Sites</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote.SBQQ__Account__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>siteName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Select Site {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Select Site</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_Brand</name>
        <label>Get Account Brand</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Account_Brand_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Make__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>brandId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Sites</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Make_JO__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Site</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Select_Brand</name>
        <label>Select Brand</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Output</targetReference>
        </connector>
        <fields>
            <name>Make</name>
            <choiceReferences>brands</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accountBrandId</elementReference>
            </defaultValue>
            <fieldText>Make</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Site</name>
        <label>Select Site</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Brand_id_set</targetReference>
        </connector>
        <fields>
            <name>Sites_List</name>
            <choiceReferences>Sites</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>siteId</elementReference>
            </defaultValue>
            <fieldText>Sites</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountBrandId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>brandId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>brandName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>manufacturerCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>quoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>siteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>siteName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
