force-app/main/default/flows/Serial_Number_Created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Asset_Order_Item_Parent</name>
        <label>Asset Order Item &lt;- Parent</label>
        <locationX>490</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>assetOrderItem</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>assetOrderItem.SBQQ__RequiredBy__r</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Asset_Order_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialise_Asset_Order_Item</name>
        <label>Initialise Asset Order Item</label>
        <locationX>270</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>assetOrderItem</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OrderItemFulfilment__r.OrderItem__r</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Asset_Order_Item</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Asset_Order_Item</name>
        <label>Check Asset Order Item</label>
        <locationX>270</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Asset_Order_Item_Parent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has Parent</defaultConnectorLabel>
        <rules>
            <name>Has_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>assetOrderItem.Asset__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Asset</targetReference>
            </connector>
            <label>Has Asset</label>
        </rules>
        <rules>
            <name>Is_Root</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>assetOrderItem.SBQQ__RequiredBy__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Is Root</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Serial Number - Created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Serial Number - Created</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Asset</name>
        <label>Set Asset</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>Asset__c</field>
            <value>
                <elementReference>assetOrderItem.Asset__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>144</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Initialise_Asset_Order_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderItemFulfilment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SerialNumber__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>assetOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
</Flow>
