force-app/main/default/flows/Subflow_Set_Customer_Acceptance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Content_Version_Id</name>
        <label>Add Content Version Id</label>
        <locationX>270</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>ContentVersionIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Attachment.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Attachment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialise_Quote</name>
        <label>Initialise Quote</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>Quote.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Quote.Customer_Accepted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Attachments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Attachment_Count</name>
        <label>Set Attachment Count</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>AttachmentCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Attachments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Attachments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Customer_Acceptance</name>
        <label>Set Customer Acceptance</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>Quote.Customer_Accepted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Quote.Quote_Signature_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_File_Count</name>
        <label>Set File Count</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>ContentVersionCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Customer_Acceptance_Files</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Customer_Acceptance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PAL_Count</name>
        <label>Set PAL Count</label>
        <locationX>710</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>palCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Price_Adjustment_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Linked_PAL</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Attachments</name>
        <label>Has Attachments</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Get_Price_Adjustment_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Attachments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AttachmentCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attachment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Customer_Acceptance</name>
        <label>Has Customer Acceptance?</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Price_Adjustment_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContentVersionCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Customer_Acceptance</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Linked_PAL</name>
        <label>Has Linked PAL?</label>
        <locationX>710</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Update_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Linked_PAL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>palCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_Customer_Acceptance</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Subflow - Set Customer Acceptance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow - Set Customer Acceptance</label>
    <loops>
        <name>Attachment</name>
        <label>For Each Attachment</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <collectionReference>Get_Attachments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Content_Version_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Customer_Acceptance_Files</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Attachments</name>
        <label>Get Attachments</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Attachment_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContentDocumentId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Customer_Acceptance_Files</name>
        <label>Get Customer Acceptance Files</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_File_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>In</operator>
            <value>
                <elementReference>ContentVersionIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Customer_Acceptance__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentVersion</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Price_Adjustment_Lines</name>
        <label>Get Price Adjustment Lines</label>
        <locationX>710</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_PAL_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Price_Adjustment_Line__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote</name>
        <label>Update Quote</label>
        <locationX>446</locationX>
        <locationY>1646</locationY>
        <inputReference>Quote</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Initialise_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AttachmentCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ContentVersionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ContentVersionIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>palCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Quote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>quoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
