force-app/main/default/flows/Subflow_Order_Status_Changed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Order_Activation_Notification</name>
        <label>Order Activation Notification</label>
        <locationX>248</locationX>
        <locationY>398</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Close_Win_Opportunity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Order.SBQQ__Quote__r.SBQQ__PrimaryContact__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>NotificationSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>UpsertAssets</name>
        <label>Create/Update Assets</label>
        <locationX>380</locationX>
        <locationY>1430</locationY>
        <actionName>AssetManagementActionNewOrder</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Job_Created</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>namedCredential</name>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderId</name>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Store_Header_Account_Id</name>
        <label>Store Header Account Id</label>
        <locationX>380</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>AccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Order.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OrderItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Site_Id</name>
        <label>Store Site Id</label>
        <locationX>468</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>AccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OrderItem.SBQQ__ShippingAccount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OrderItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Record_Job</name>
        <label>Update Record Job</label>
        <locationX>50</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>Get_Existing_Record_Job.SBQQ__JobId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpsertAssets.jobId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Existing_Record_Job.SBQQ__JobDetails__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Generating Assets/Asset Changes for Order</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Commit_Record_Job</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Existing_Record_Job</name>
        <label>Existing Record Job?</label>
        <locationX>182</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>Create_Record_Job</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Existing_Record_Job</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Record_Job</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record_Job</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Job_Created</name>
        <label>Job Created?</label>
        <locationX>380</locationX>
        <locationY>1550</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpsertAssets.jobId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Record_Job</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_Status</name>
        <label>Order Status</label>
        <locationX>743</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Status_Activated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PreviousStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Primary_Contact_Assigned</targetReference>
            </connector>
            <label>Draft -&gt; Activated</label>
        </rules>
        <rules>
            <name>Draft_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PreviousStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Un_contract_Line_Items</targetReference>
            </connector>
            <label>Activated -&gt; Draft</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primary_Contact_Assigned</name>
        <label>Primary Contact Assigned?</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Close_Win_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order.SBQQ__Quote__r.SBQQ__PrimaryContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Activation_Notification</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>RecordJobId</name>
        <dataType>String</dataType>
        <expression>{!Order.Id} + &quot;::CreateContract&quot;</expression>
    </formulas>
    <interviewLabel>Subflow - Order Status Changed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow - Order Status Changed</label>
    <loops>
        <name>OrderItem</name>
        <label>For Each Order Item</label>
        <locationX>380</locationX>
        <locationY>974</locationY>
        <collectionReference>OrderItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_Site_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Account_Statuses</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Record_Job</name>
        <label>Create Record Job</label>
        <locationX>314</locationX>
        <locationY>1910</locationY>
        <inputAssignments>
            <field>SBQQ__IsRead__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__JobDetails__c</field>
            <value>
                <stringValue>Generating Assets/Asset Changes for Order</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__JobId__c</field>
            <value>
                <elementReference>UpsertAssets.jobId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__RecordId__c</field>
            <value>
                <elementReference>RecordJobId</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__RecordJob__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Record_Job</name>
        <label>Get Existing Record Job</label>
        <locationX>182</locationX>
        <locationY>1670</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Record_Job</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__RecordId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordJobId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__RecordJob__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>OrderItems</name>
        <label>Get Order Items</label>
        <locationX>380</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OrderItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SBQQ__ShippingAccount__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_Win_Opportunity</name>
        <label>Close-Win Opportunity</label>
        <locationX>380</locationX>
        <locationY>614</locationY>
        <connector>
            <targetReference>Store_Header_Account_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order.SBQQ__Quote__r.SBQQ__Opportunity2__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Commit_Record_Job</name>
        <label>Update Record Job</label>
        <locationX>50</locationX>
        <locationY>2030</locationY>
        <inputReference>Get_Existing_Record_Job</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Un_contract_Line_Items</name>
        <label>Un-contract Line Items</label>
        <locationX>842</locationX>
        <locationY>278</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__Activated__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Contracted__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>OrderItem</object>
    </recordUpdates>
    <start>
        <locationX>617</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Order_Status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Update_Account_Statuses</name>
        <label>Update Account Statuses</label>
        <locationX>380</locationX>
        <locationY>1310</locationY>
        <connector>
            <targetReference>UpsertAssets</targetReference>
        </connector>
        <flowName>Update_Account_Statuses</flowName>
        <inputAssignments>
            <name>AccountIds</name>
            <value>
                <elementReference>AccountIds</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>NotificationBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!Order.SBQQ__Quote__r.SBQQ__PrimaryContact__r.FirstName} {!Order.SBQQ__Quote__r.SBQQ__PrimaryContact__r.LastName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Order {!Order.OrderNumber} has been activated.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>NotificationSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Order {!Order.OrderNumber} has been activated&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>PreviousStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
