force-app/main/default/flows/Update_Quote_Access.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Create_Approval_Share</name>
        <label>Create Approval Share</label>
        <locationX>446</locationX>
        <locationY>2366</locationY>
        <assignmentItems>
            <assignToReference>ApprovalShare.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approval.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalShare.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Share.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalShare.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Share.OpportunityAccessLevel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalShares</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ApprovalShare</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Quote_Share</name>
        <label>Create Quote Share</label>
        <locationX>358</locationX>
        <locationY>2126</locationY>
        <assignmentItems>
            <assignToReference>QuoteShare.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteShare.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Share.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteShare.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteShareAccessLevel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteShares</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteShare</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Existing_Approval_Share_Count</name>
        <label>Set Existing Approval Share Count</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>ApprovalShareCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Existing_Approval_Shares</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Quote_Share_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Quote_Share_Count</name>
        <label>Set Quote Share Count</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>ExistingQuoteShareCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Existing_Quote_Shares</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Shares_to_delete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Approval_Id</name>
        <label>Store Approval Id</label>
        <locationX>270</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>ApprovalIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Approval1.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Approval1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Existing_Approval_Shares</name>
        <label>Existing Approval Shares?</label>
        <locationX>182</locationX>
        <locationY>1670</locationY>
        <defaultConnector>
            <targetReference>Opp_Share</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Approval_Shares</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalShareCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Existing_Approval_Shares</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Shares_to_delete</name>
        <label>Shares to delete?</label>
        <locationX>182</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>Existing_Approval_Shares</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Shares_to_delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingQuoteShareCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Existing_Quote_Shares</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Set quote access from opportunity</description>
    <environments>Default</environments>
    <formulas>
        <name>QuoteShareAccessLevel</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!Opp_Share.OpportunityAccessLevel},&quot;All&quot;),&quot;Edit&quot;,TEXT({!Opp_Share.OpportunityAccessLevel}))</expression>
    </formulas>
    <interviewLabel>Update Quote Access {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Quote Access</label>
    <loops>
        <name>Approval</name>
        <label>For Each Approval</label>
        <locationX>358</locationX>
        <locationY>2246</locationY>
        <collectionReference>Get_Approvals</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Approval_Share</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Opp_Share</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Approval1</name>
        <label>For Each Approval</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <collectionReference>Get_Approvals</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_Approval_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Existing_Approval_Shares</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Opp_Share</name>
        <label>For Each Opp Share</label>
        <locationX>182</locationX>
        <locationY>2006</locationY>
        <collectionReference>Opp_Shares</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Quote_Share</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Quote_Shares</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Approval_Shares</name>
        <label>Insert Approval Shares</label>
        <locationX>182</locationX>
        <locationY>2798</locationY>
        <inputReference>ApprovalShares</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Quote_Shares</name>
        <label>Insert Quote Shares</label>
        <locationX>182</locationX>
        <locationY>2678</locationY>
        <connector>
            <targetReference>Insert_Approval_Shares</targetReference>
        </connector>
        <inputReference>QuoteShares</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Existing_Approval_Shares</name>
        <label>Delete Existing Approval Shares</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Opp_Share</targetReference>
        </connector>
        <inputReference>Get_Existing_Approval_Shares</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Existing_Quote_Shares</name>
        <label>Delete Existing Quote Shares</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>Existing_Approval_Shares</targetReference>
        </connector>
        <inputReference>Get_Existing_Quote_Shares</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Approvals</name>
        <label>Get Approvals</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approval1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>sbaa__RecordField__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quote__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sbaa__Approval__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Approval_Shares</name>
        <label>Get Existing Approval Shares</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Existing_Approval_Share_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>In</operator>
            <value>
                <elementReference>ApprovalIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>RowCause</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Owner</stringValue>
            </value>
        </filters>
        <filters>
            <field>RowCause</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rule</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sbaa__Approval__Share</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Quote_Shares</name>
        <label>Get Existing Quote Shares</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Approvals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RowCause</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Owner</stringValue>
            </value>
        </filters>
        <filters>
            <field>RowCause</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rule</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__Quote__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Opp_Shares</name>
        <label>Get Opp Shares</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Quote_Shares</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Quote.SBQQ__Opportunity2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Quote.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Quote</name>
        <label>Get Quote</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opp_Shares</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SBQQ__Opportunity2__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ApprovalIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApprovalShare</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sbaa__Approval__Share</objectType>
    </variables>
    <variables>
        <name>ApprovalShareCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ApprovalShares</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sbaa__Approval__Share</objectType>
    </variables>
    <variables>
        <name>ExistingQuoteShareCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>QuoteShare</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__Share</objectType>
    </variables>
    <variables>
        <name>QuoteShares</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__Share</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
