force-app/main/default/flows/Update_Order_Lines.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Initialise_Working_Data</name>
        <label>Initialise Working Data</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>workingOrderItemIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderItemsSelect</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Another_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_RecordID</name>
        <label>Set RecordID</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Final_Id</name>
        <label>Store Final Id</label>
        <locationX>396</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>orderItemIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>workingOrderItemIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>workingOrderItemIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Order_Item_Id</name>
        <label>Store Order Item Id</label>
        <locationX>132</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>orderItemIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>nextValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>workingOrderItemIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stagedWorking</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Has_Another_Id</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Another_Id</name>
        <label>Loop over selected order items</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Store_Final_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Done</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>workingOrderItemIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_Lines</targetReference>
            </connector>
            <label>Done</label>
        </rules>
        <rules>
            <name>Next</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nextIndex</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Order_Item_Id</targetReference>
            </connector>
            <label>Next</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Populated</name>
        <label>Record Populated?</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Select_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lines</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>OrderItemsChoiceSet</name>
        <dataType>String</dataType>
        <displayField>OrderItemNumber</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>OrderItem</object>
        <sortField>OrderItemNumber</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Orders</name>
        <dataType>String</dataType>
        <displayField>OrderNumber</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Order</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>nextIndex</name>
        <dataType>Number</dataType>
        <expression>FIND(&quot;;&quot;, {!workingOrderItemIds})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>nextValue</name>
        <dataType>String</dataType>
        <expression>LEFT({!workingOrderItemIds},{!nextIndex} - 1)</expression>
    </formulas>
    <formulas>
        <name>stagedWorking</name>
        <dataType>String</dataType>
        <expression>RIGHT({!workingOrderItemIds},LEN({!workingOrderItemIds}) - {!nextIndex})</expression>
    </formulas>
    <interviewLabel>Update Order Lines {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Order Lines</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Order_Lines</name>
        <label>Update Order Lines</label>
        <locationX>176</locationX>
        <locationY>1124</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>orderItemIds</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Source__c</field>
            <value>
                <stringValue>Go-Live Date</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <object>OrderItem</object>
    </recordUpdates>
    <screens>
        <name>Select_Order</name>
        <label>Select Order</label>
        <locationX>264</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_RecordID</targetReference>
        </connector>
        <fields>
            <name>Order</name>
            <choiceReferences>Orders</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Order</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Lines</name>
        <label>Update Lines</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Initialise_Working_Data</targetReference>
        </connector>
        <fields>
            <name>OrderItemsSelect</name>
            <choiceReferences>OrderItemsChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Order Lines</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Start_Date</name>
            <dataType>Date</dataType>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>End_Date</name>
            <dataType>Date</dataType>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Populated</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>orderItemIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workingOrderItemIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
